
<!-- TEAM -->
<section class="section bg-lightgray" id="team">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-box text-center">
          <h2>Our Creative 
            <span class="font-2">Team</span>
          </h2>
        </div>
      </div>
    </div>
    <!-- end row -->
    <div class="row">
      <div class="col-sm-4">
        <div class="team-box">
          <img src="images/team1.jpg" class="img-circle" alt="">
          <h4>Andrew Sparks</h4>
          <h6 class="text-muted">CEO/Founder</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          <ul class="list-inline social">
            <li>
              <a href="javascript:void(0);" class="bg-twitter">
                <i class="ti-twitter-alt"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="bg-dribbble">
                <i class="ti-dribbble"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="bg-linkedin">
                <i class="ti-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end col -->
      <div class="col-sm-4">
        <div class="team-box">
          <img src="images/team2.jpg" class="img-circle" alt="">
          <h4>Hubert Brandt</h4>
          <h6 class="text-muted">CTO/Co-Founder</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          <ul class="list-inline social">
            <li>
              <a href="javascript:void(0);" class="bg-googleplus">
                <i class="ti-google"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="bg-facebook">
                <i class="ti-facebook"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="bg-linkedin">
                <i class="ti-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end col -->
      <div class="col-sm-4">
        <div class="team-box">
          <img src="images/team3.jpg" class="img-circle" alt="">
          <h4>David Downs</h4>
          <h6 class="text-muted">Web Designer</h6>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
          <ul class="list-inline social">
            <li>
              <a href="javascript:void(0);" class="bg-twitter">
                <i class="ti-twitter-alt"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="bg-dribbble">
                <i class="ti-dribbble"></i>
              </a>
            </li>
            <li>
              <a href="javascript:void(0);" class="bg-linkedin">
                <i class="ti-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
<!-- end TEAM -->
