
<!-- TESTIMONIALS -->
<section class="section bg-testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
        <div class="testimonial-box text-center">
          <h1>
            <i class="ti-quote-left"></i>
          </h1>
          <h4>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less.</h4>
          <img src="images/user-1.jpg" class="testi-user img-circle" alt="testimonials-user">
          <p>- Landing page User</p>
          <p>
            <span class="glyphicon glyphicon-star text-warning"></span>
            <span class="glyphicon glyphicon-star text-warning"></span>
            <span class="glyphicon glyphicon-star text-warning"></span>
            <span class="glyphicon glyphicon-star text-warning"></span>
            <span class="glyphicon glyphicon-star text-warning"></span>
          </p>
        </div>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row">
      <div class="col-sm-12">
        <div class="owl-carousel client-images text-center" id="clients-slider">
          <div class="item">
            <div class="">
              <img src="images/clients/1.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/2.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/3.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/4.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/5.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/6.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/7.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/1.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/2.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/3.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/4.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/5.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/6.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
          <div class="item">
            <div class="">
              <img src="images/clients/7.png" alt="logo-img">
            </div>
          </div>
          <!-- slider item -->
        </div>
        <!-- End slider -->
      </div>
    </div>
  </div>
  <!-- end container -->
</section>
<!-- end TESTIMONIALS -->
