
.dashboard-yesterday-activity {

}
.dashboard-yesterday-activity .tab-content {
  max-height: 320px;
  overflow-y: scroll;
}
.dashboard-yesterday-activity .media-time {
  float: right;
  font-size: 12px;
  line-height: 1;
  margin-top: 9px;
}
.dashboard-yesterday-activity .media-pic img {
  width: 50px;
  height: 50px;
}