
.dashboard-analytics {

}
.dashboard-analytics .tab-content {
  max-height: 320px;
  /*overflow-y: scroll;*/
}
.dashboard-analytics .media-time {
  float: right;
  font-size: 12px;
  line-height: 1;
  margin-top: 9px;
}
.dashboard-analytics .media-pic img {
  width: 50px;
  height: 50px;
}
.analytics-box {
  height: 330px;
}
