
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
#dashboard {
  height: 100%;
}


body {
  font-family: Poppins,sans-serif;
  font-weight: 300;
  font-size: 14px;
  overflow-x: hidden!important;
  -webkit-font-smoothing: antialiased;
}

body, h5, h6 {
  color: #808285;
}
body, h6 {
  line-height: 26px; 
}

a, h1, h2, h3, h4, p a {
  color: #383838;
}

a, abbr, acronym, address, applet, b, big, blockquote, body, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, font, form, h1, h2, h3, h4, h5, h6, html, i, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  background: 0 0;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  outline: 0;
}

p {
  line-height: 1.8em;
}

a:hover, a:focus {
  text-decoration: none;
}
.nav-tabs > li > a:hover {
  color: #383838;
}
.btn {
  font-weight: bold;
}

.relative {
  position: relative !important;
}

.alert {
  display: none;
}
.alert .alert-link:hover {
  text-decoration: underline;
}

.page-header:first-child {
  margin-top: 10px;
}

.has-error .form-control,
.error .form-control {
  border-color: #F0093D;
}
.js-error,
.error-message {
  color: #F0093D;
}

.message {
  background-color: #F0093D;
  color: #fff;
  display: block;
  padding: .5em .75em;
  text-align: center;
  padding: 20px 0;
  font-weight: bold;
  position: fixed;
  width: 100%;
  z-index: 1;
  opacity: 0.9;
}
