

#payjp_checkout_box {
  display: none;
}

.slider {
  margin-left: 1%;
}
#sliderRange .slider-selection {
  background: #5bc0de;
}
#min_like_count,
#max_like_count {
  font-size: 16px;
  font-weight: bold;
}






/* Hashtag */
.hash-search {
  display: none;
  width: 350px;
  top: 44px;
  right: 0;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 150px;
  height: auto;
  padding: 0;
  margin: 2px 0 0 0;
  z-index: 1000;
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
}
.hash-search-box {
  padding: 5px 0;
  color: #333333;
}
.hash-search-row {
  line-height: 30px;
  padding: 3px 12px;
}
.hash-search-row:hover {
  cursor: pointer;
  background-color: #eee;
}
.highlight {
  background-color: #5bc0de;
  color: #fff;
  border-radius: 3px;
  padding: 3px 12px;
  margin-right: 5px;
  font-weight: bold;
}
.hashtag {
  padding: 6px 12px;
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
}
.hashtag:hover {
  cursor: pointer;
}
.hashtag-form {
  margin: 8px 0 16px;
}
.hashtag-loading {
  display: none;
  position: absolute;
  top: 6px;
  right: 6px;
  font-size: 11px;
}


/* Comment */
.comment {
  padding: 6px 12px;
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
}
.comment:hover {
  cursor: pointer;
}
.comment-form {
  margin: 8px 0 16px;
}


/* Message */
.message-form {
  margin: 8px 0 16px;
}


/* Filter */
.filter {
  padding: 6px 12px;
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
}
.filter:hover {
  cursor: pointer;
}
.filter-form {
  margin: 8px 0 16px;
}


/* AutoSetting */
.panel-heading {
  font-weight: bold;
}
.panel-body p {
  color: #444;
}
.auto-setting {
  display: none;
}
.switchbtn {
  color: #444;
  width: 100px;
  height: 30px;
  background-color: #ccc;
  z-index: 0;
  margin-top: 8px;
  padding: 0;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
}
.switchbtn:after {
  content: 'OFF';
  height: 24px;
  width: 60px;
  border-radius: 12px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  top: 3px;
  left: 3px;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
}
.switchbtn.active,
.switchbtn.active:before {
  background-color: #00709D !important;
}
.switchbtn.active:after {
  left: 38px !important;
  content: 'ON';
  color: #00709D;
  font-weight: bold;
}


/* Activity */
.timeline-container {
/*  width: 90%;
  max-width: 1170px;
  margin: 0 auto;*/
  background-color: #f0f0f0;
}
.timeline {
  position: relative;
  padding: 1em 0 1em 0;
  margin-top: 0;
  margin-bottom: 2em;
  width: 95%;
  margin: 0 auto;
}
.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 2px;
  background: #fff;
}
.timeline-point i {
  color: #fff;
  font-size: 14px;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
}
.timeline-block {
  position: relative;
  margin: 2em 0;
}
.timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-point {
  position: absolute;
  top: 12px;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background: #b3b3b3;
  border: 2px solid #fff;
}
.timeline-point.like {
  background-color: #92c4e8;
}
.timeline-point.follow {
  background-color: #addba1;
}
.timeline-point.comment {
  background-color: #f5f09e;
}
.timeline-point.unfollow {
  background-color: #ebccd1;
}
.timeline-point.message {
  background-color: #10cfbd;
}
.timeline-content {
  position: relative;
  margin-left: 60px;
}
.timeline-content .event-date {
  display: inline-block;
  float: left;
  padding: .8em 0;
  opacity: .7;
  clear: both;
}
.card {
  padding-bottom: 0;
  margin-bottom: 0;
  background: #FFF;
  float: left;
  position: relative;
  border-radius: 4px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #e6e6e6;
}
.card .card-header {
  padding: 13px 15px 7px;
  border-bottom: 1px solid #e6e6e6;
}
.card .card-header .user-pic {
  float: left;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.card .card-description {
  border: 1px solid transparent;
  padding: 5px 16px 7px;
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  position: relative;
}
.card .card-description .media-pic {
  position: absolute;
  top:10px;
  right: 10px;
}
.card .card-description .media-pic img {
  width: 40px;
  height: 40px;
}
#moreActivity {
  margin-top: 20px;
  font-weight: normal;
}
#moreActivity:focus {
  outline: none;
}

.list-inline li {
  line-height: 1;
}
.label-plan {
  display: inline-block;
  vertical-align: top;
}
.label-lg {
  font-size: 13px;
  padding: 4px 7px;
}


/* Subscription */

.btn--primary {
    background-color: #fa4f3e;
    box-shadow: 0 4px 0 0 #c94032;
    -ms-box-shadow: 0 4px 0 0 #c94032;
    -o-box-shadow: 0 4px 0 0 #c94032;
}















//
// Dashboard
// --------------------------------------------------


/* Medium devices (desktops, 992px and up) */
.dashboard-left {
  position: fixed;
  left: 0;
  width: 285px;
  height: 100%;
  overflow-y: scroll;
  background: #F2F2F2;
}
.dashboard-right {
  margin-left: 285px;
}

.dashboard-right .dashboard-header {
  height: 60px;
  padding: 16px 20px 16px 30px;
  border-bottom: 1px solid #e6e6e6;
}
.dashboard-right .dashboard-header h1 {
  font-size: 15px;
  line-height: 27px;
}


.dashboard-main {
  padding: 26px;
}

/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 992px) {
  .dashboard-left {
    width: 42px;
  }
  .dashboard-right {
    margin-left: 42px;
  }
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width :768px) {
  /*.dashboard-left {
    display: none;
  }*/
  .dashboard-right {
    margin-left: 0;
  }
  .dashboard-main {
    padding-top: 70px;
  }
}





/* Loading */
/* 外側の大きなサークルのラインの色とスタイルとアルファで表示＆消えるアニメーション */
.circle {
  background-color: rgba(0,0,0,0);
  border:5px solid rgba(0,183,229,0.9);
  opacity:.9;
  border-right:5px solid rgba(0,0,0,0);
  border-left:5px solid rgba(0,0,0,0);
  border-radius:50%;
  /*box-shadow: 0 0 35px #2187e7;*/
  width:50px;
  height:50px;
  margin:0 auto;
  -moz-animation:spinPulse 1s infinite ease-in-out;
  -webkit-animation:spinPulse 1s infinite linear;
}
/* 内側の小さなサークルのラインの色とスタイルとアルファで表示＆消えるアニメーション */
.circle1 {
  background-color: rgba(0,0,0,0);
  border:5px solid rgba(0,183,229,0.9);
  opacity:.9;
  /*border-left:5px solid rgba(0,0,0,0);
  border-right:5px solid rgba(0,0,0,0);*/
  border-radius:50%;
  /*box-shadow: 0 0 15px #2187e7;*/
  width:30px;
  height:30px;
  margin:0 auto;
  position:relative;
  top:-40px;
  -moz-animation:spinoffPulse 2s infinite ease-in-out;
  -webkit-animation:spinoffPulse 2s infinite linear;
}
 
/* キーフレームを使ったローディングのくるくる回るアニメーション */
@-moz-keyframes spinPulse {
  0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
  50% { -moz-transform:rotate(145deg); opacity:1; }
  100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
  0% { -moz-transform:rotate(0deg); opacity:1; }
  30% { -moz-transform:rotate(180deg); opacity:0; }
  100% { -moz-transform:rotate(360deg);  opacity:1; }
}
@-webkit-keyframes spinPulse {
  0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
  50% { -webkit-transform:rotate(145deg); opacity:1; }
  100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
  0% { -webkit-transform:rotate(0deg); opacity:1; }
  30% { -webkit-transform:rotate(180deg); opacity:0; }
  100% { -webkit-transform:rotate(360deg);  opacity:1; }
}

