
.clearfix:after,
.clearfix:before {
    content: " ";
    display: table;
}

.eltdf-menu-area .eltdf-grid,
.eltdf-menu-area .eltdf-grid,
.eltdf-menu-area.eltdf-menu-center .eltdf-vertical-align-containers .eltdf-position-center-inner, 
.eltdf-menu-area.eltdf-menu-right .eltdf-vertical-align-containers .eltdf-position-right-inner, 
.eltdf-grid {
  height: 100%; 
}

.eltdf-vertical-align-containers .eltdf-position-center:before,
.eltdf-vertical-align-containers .eltdf-position-left:before,
.eltdf-vertical-align-containers .eltdf-position-right:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    margin-right: -3px;
}


.eltdf-page-header {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  z-index: 110;
  box-sizing: border-box;
}

.eltdf-page-header .eltdf-fixed-wrapper {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid transparent;
}
.eltdf-page-header .eltdf-menu-area {
    position: relative;
    height: 60px;
    padding: 0 50px;
    //border-bottom: 1px solid transparent;
    border-bottom: 0;
    box-sizing: border-box;
}

.eltdf-vertical-align-containers {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.eltdf-vertical-align-containers .eltdf-position-left {
    position: relative;
    float: left;
    z-index: 2;
    height: 100%;
}

.eltdf-vertical-align-containers .eltdf-position-center {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    text-align: center;
    z-index: 1;
}

.eltdf-vertical-align-containers .eltdf-position-right {
    position: relative;
    float: right;
    z-index: 2;
    height: 100%;
    text-align: right;
}


.eltdf-vertical-align-containers .eltdf-position-center-inner,
.eltdf-vertical-align-containers .eltdf-position-left-inner,
.eltdf-vertical-align-containers .eltdf-position-right-inner {
    vertical-align: middle;
    display: inline-block;
}


.eltdf-logo-wrapper, .eltdf-logo-wrapper a {
    display: inline-block;
    vertical-align: middle;
}

.eltdf-logo-wrapper a img {
      display: block;
    height: 100%;
    width: auto;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    transition: opacity .2s ease;
}
.eltdf-logo-wrapper a img.eltdf-normal-logo {
    opacity: 1;
}
.eltdf-logo-wrapper a img.eltdf-dark-logo {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}
.eltdf-logo-wrapper a img.eltdf-light-logo {
    opacity: 0;
    -webkit-transform: translateY(-200%);
    -moz-transform: translateY(-200%);
    transform: translateY(-200%);
}


/* Menu List */
.eltdf-main-menu,
.eltdf-main-menu>ul,
.eltdf-main-menu>ul>li>a {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    height: 100%;
    position: relative;
}
.eltdf-main-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}
.eltdf-main-menu ul li {
    position: relative;
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
}
.eltdf-main-menu>ul>li {
    float: left;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.eltdf-main-menu ul li a {
    font-size: 13px;
    line-height: 24px;
    color: #939598;
}
.eltdf-main-menu>ul>li>a {
    padding: 0 24px;
    color: #383838;
    line-height: 23px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.eltdf-main-menu>ul>li.eltdf-active-item>a {
    color: #25abd1;
}
.eltdf-main-menu ul li a:hover {
    color: #25abd1;
}
.eltdf-main-menu>ul>li>a>span.item_outer {
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}
.eltdf-main-menu>ul>li>a>span.item_outer .item_text {
    position: relative;
    display: inline-block;
    vertical-align: top;
}


/* Menu icon */
.eltdf-side-menu-button-opener .eltdf-side-menu-icon {
    width: 32px;
    height: 32px;
    font-size: 32px;
    margin-left: -8px;
}
.icon_menu:before {
    content: "\61";
}
.eltdf-side-menu-button-opener.opened,
.eltdf-side-menu-button-opener:hover {
    color: #25abd1;
}
.eltdf-side-menu-button-opener,
.eltdf-side-menu-button-opener .eltdf-side-menu-icon,
.eltdf-side-menu-button-opener .eltdf-side-menu-title,
.eltdf-title.eltdf-breadcrumbs-type .eltdf-breadcrumbs,
.eltdf-title.eltdf-breadcrumbs-type .eltdf-breadcrumbs .eltdf-delimiter {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}


/* Link */
a:hover,
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
p a:hover {
    color: #25abd1;
}

/* Transition */
.eltdf-pagination ul li a,
.eltdf-pagination ul li.active span,
a,
p a {
    text-decoration: none;
    -webkit-transition: color .2s ease-out;
    -moz-transition: color .2s ease-out;
}

a, p a {
    transition: color .2s ease-out;
}


/* Login Button */
.login-btn {
  list-style: none;
}
.login-btn li {
  float: left;
}
.sign-up-btn {
  background-color: #25abd1;
  line-height: 30px;
  color: #fff;
  height: 30px;
  width: 80px;
  font-weight: bold;
  display: inline-block !important;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
  margin-right: 8px;
}
.sign-in-btn {
  border: solid 2px #25abd1;
  line-height: 28px;
  color: #25abd1;
  height: 30px;
  width: 80px;
  font-weight: bold;
  display: inline-block !important;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}

