
/* Button */
.eltdf-btn {
  outline: 0;
  padding: 13px 46px;
  font-family: inherit;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 3em;
  -webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  -moz-transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.eltdf-element-from-bottom.eltdf-element-from-bottom-on>div {
  -webkit-animation: element-from-bottom .55s 1 ease;
  -moz-animation: element-from-bottom .55s 1 ease;
  animation: element-from-bottom .55s 1 ease;
  opacity: 1;
  -webkit-backface-visibility: hidden;
}

.eltdf-btn.eltdf-btn-solid .eltdf-btn-text {
    display: inline-block;
    -webkit-transform: translate3d(10px,0,0);
    -moz-transform: translate3d(10px,0,0);
    transform: translate3d(10px,0,0);
    -webkit-transition: all .2s cubic-bezier(.77,0,.175,1);
    -moz-transition: all .2s cubic-bezier(.77,0,.175,1);
    transition: all .2s cubic-bezier(.77,0,.175,1);
}

.eltdf-btn.eltdf-btn-solid:hover .eltdf-btn-text {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.eltdf-btn.eltdf-btn-solid:hover .eltdf-btn-text:after {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.eltdf-btn.eltdf-btn-solid .eltdf-btn-text:after {
    opacity: 0;
    -webkit-transform: translate3d(-10px,0,0);
    -moz-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-transition: all .3s cubic-bezier(.77,0,.175,1);
    -moz-transition: all .3s cubic-bezier(.77,0,.175,1);
    transition: all .3s cubic-bezier(.77,0,.175,1);
}

.eltdf-btn.eltdf-btn-outline .eltdf-btn-text:after, .eltdf-btn.eltdf-btn-solid .eltdf-btn-text:after {
    display: inline-block;
    content: "\f3d6";
    font-family: Ionicons!important;
    vertical-align: middle;
    margin-left: 5px;
    font-size: 2em;
}

.eltdf-btn.eltdf-btn-solid {
  color: #fff;
  background-color: #25abd1;
  border: 2px solid #25abd1;
}


.vc_custom_1476694819173 {
  background-image: url(http://blu.elated-themes.com/wp-content/uploads/2016/10/landing-image-1.jpg?id=3780) !important;
}


.start-area {
  background-image: url(http://blu.elated-themes.com/wp-content/uploads/2016/10/landing-image-1.jpg?id=3780) !important;
  padding: 10% 20% 10% 20%;
  margin-bottom: 30px;
}

