//
// Menu
// --------------------------------------------------

/* Medium devices (desktops, 992px and up) */
.dashboard-menu .copyright {
  color: #777;
  font-size: 11px;
  padding-top: 10px;
  padding-bottom: 15px;
  text-align: center;
}

.dashboard-menu__list li {
  font-size: 0.9em;
  background: #f2f2f2;
  color: #444;
  padding: 0px;
  margin: 0px;
  border-bottom: 1px solid #e6e6e6;
  text-align: left;
}
.dashboard-menu__list li.active {
  background-color: #e6e6e6;
}
.dashboard-menu__list li a {
  width: 100%;
  min-height: 50px;
  color: #444;
  padding-top: 12px;
  padding-left: 40px;
}
.dashboard-menu__list li a i {
  font-size: 25px;
  margin-right: 14px;
  vertical-align: middle;
}

.dashboard-menu__profile {
  background-color: #e6e6e6;
}
.dashboard-menu__profile .dashboard-menu__profile__main {
  padding: 20px 0 0;
  text-align: center;
}
.dashboard-menu__profile .logo {
  display: block;
  margin-bottom: 20px;
}
.dashboard-menu__profile .dashboard-menu__profile__avator {
  margin: 0 auto;
}
.dashboard-menu__profile .dashboard-menu__profile__avator img {
  width: 50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.dashboard-menu__profile .dashboard-menu__link {
  /*font-size: 0.9em;*/
}
.dashboard-menu__profile .dashboard-menu__profile__btn {
  padding: 10px 0;
}
.dashboard-menu__profile .dashboard-menu__profile__btn span {
  display: block;
  font-size: 80%;
  /*font-size: 0.7em;*/
}
.dashboard-menu__profile .dashboard-menu__profile__btn i {
  font-size: 28px;
}
.dashboard-menu__profile .dashboard-menu__profile__text {
  overflow: auto;
  float: left;
  width: 112px;
  padding: 0 16px 0 12px;
  font-size: 86%;
}
.dashboard-menu__profile .dashboard-menu__profile__instagram-btn {
  border: solid 2px #25abd1;
  line-height: 28px;
  color: #25abd1;
  height: 30px;
  width: 80px;
  font-weight: bold;
  display: inline-block !important;
  border-radius: 4px;
  box-sizing: border-box;
  text-align: center;
}
#menu-toggle {
  display: none;
}

/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 992px) {
  /*.dashboard-menu .copyright {
    display: none;
  }
  .dashboard-menu .dashboard-menu__profile .logo img {
    width: 30px;
  }
  .dashboard-menu .dashboard-menu__profile .dashboard-menu__profile__avator img {
    width: 25px;
  }
  .dashboard-menu .dashboard-menu__profile .dashboard-menu__profile__link {
    display: none;
  }
  .dashboard-menu__list li {
    text-align: center;
    border: none;
  }
  .dashboard-menu__list li a {
    min-height: 40px;
    line-height: 34px;
    padding: 0;
  }
  .dashboard-menu__list li a i {
    font-size: 21px;
    margin: auto;
  }
  .dashboard-menu__list li a span {
    position: absolute;
    left: -999px;
  }
  .dashboard-menu__profile__btn {
    display: none;
  }*/

  .dashboard-menu .copyright {
    display: block;
  }
  .dashboard-menu__list li {
    text-align: left;
  }
  .dashboard-menu__list li a {
    width: 100%;
    min-height: 50px;
    color: #444;
    padding-top: 12px;
    padding-left: 40px;
  }
  .dashboard-menu__list li a span {
    position: relative;
    left: inherit;
  }
  #menu-toggle {
    display: block;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
    width: 40px;
    height: 40px;
    font-size: 22px;
    line-height: 0;
    margin: 10px 0 0 10px;
    padding-top: 9px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    color: #fff;
    background-color: rgba(0,0,0,.3);
  }
  #menu-toggle.active {
    left: 220px;
    transition: left 300ms ease 0s;
    -webkit-transform: left 300ms ease 0s;
    -ms-transition: left 300ms ease 0s;
    padding-top: 8px;
  }
  .dashboard-left {
    background-color: rgb(241,156,161);
    border: rgb(241,156,161);
    margin-left: -220px;
    top: 0;
    left: 0;
    width: 220px;
    overflow-y: scroll;
    z-index: 1000;
    transition: all 300ms ease 0s;
    -webkit-transform: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
  }
  .dashboard-left.active {
    left: 220px;
    width: 220px;
  }
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width :767px) {
  
}
