.modal-backdrop {
  background-color: rgba(224, 224, 224, 0.6);
}
.modal-content {
  border-radius: inherit;
  border: none;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.13);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.13);
}
.login-modal {
  width: 400px;
}

.login-button {
  background-color: $button-info-color;
  border-radius: inherit;
}