//
// Status
// --------------------------------------------------

/* Medium devices (desktops, 992px and up) */
.dashboard-status {
  padding: 16px 0 36px;
  /* background-color: #e5e5e5;*/
}
.dashboard-status table {
  width: 100%;
  table-layout: fixed;
}
.dashboard-status td {
  border-left: solid 1px #d9d9d9;
  text-align: center;
}
.dashboard-status td:first-child {
  border-left: none;
}
.dashboard-status td>div {
  display: inline-block;
  text-align: left;
}
.dashboard-status td a:link,
.dashboard-status td a:visited {
  color: #404040;
  text-decoration: underline;
}
.dashboard-status__figure {
  color: #404040;
  font-size: 200%;
  font-weight: 700;
  line-height: 1;
}
.dashboard-status__unit {
  color: #404040;
}
.dashboard-status__title {
  color: #787878;
}
.dashboard-status__class {
  margin-top: .8em;
  color: #787878;
  font-size: 92%;
}
.dashboard-status__class i {
  font-size: 110%;
  margin: 0 8px;
}

#dashboard .dashboard-right .dashboard-box {
  margin-bottom: 30px;
}
#dashboard .dashboard-right .nav-tabs {
    margin-bottom: 18px;
}
#dashboard .dashboard-right .nav-tabs li {
  /*font-size: 0.9em;*/
}
#dashboard .dashboard-right .tab-content {
  /*font-size: 0.9em;*/
}

/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 992px) {
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width :767px) {
}
