//
// Subscription
// --------------------------------------------------

/* Medium devices (desktops, 992px and up) */
@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Ubuntu:400,500,700';
@import 'https://fonts.googleapis.com/css?family=Signika:400,600,700';

#subscription {
  //background: transparent url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/geometry.png) repeat scroll 0% 0%;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Ubuntu', sans-serif;
  }
  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  body {
    height: 100%;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .mt-30 {
    margin-top: 30px;
  }
  .mt-40 {
    margin-top: 40px;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .mt-80 {
    margin-top: 80px;
  }
  .pd-20 {
    padding: 20px;
  }
  .section-padding {
    padding: 30px 0 0;
  }
  .black-table-area {
    background-color: #1A1B20;
    color: #fff;
  }
  /*.small-table-area {
    background: transparent url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/geometry.png") repeat scroll 0% 0%;
  }*/
  .section-title {
    color: #fff;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0.1rem;
    padding: 10px 24px;
    text-transform: uppercase;
  }
  .blue-heading {
    background-color: #3498db;
  }
  .aqua-heading {
    background-color: #1abc9c;
  }
  .red-heading {
    background-color: #fa5137;
  }
  .purple-heading {
    background-color: #c4394e;
  }
  .box-shadow-mixin {
    box-shadow: 0px 2px 10px 2px rgba(221, 221, 221, 0.73);
  }
  .black-box-shadow-mixin {
    box-shadow: 0px 2px 9px 10px rgba(20, 21, 25, 0.78);
  }
  .pricing-button a.btn {
    color: #fff;
    letter-spacing: 0.1rem;
    padding: 12px 0;
    width: 90%;
  }
  .pricing-button a.btn:hover {
    opacity: 0.9;
  }
  .design-credit a {
    text-decoration: underline;
    -webkit-text-decoration-style: dotted;
       -moz-text-decoration-style: dotted;
            text-decoration-style: dotted;
  }
  .pricing-table .pricing-table-heading h2 {
    color: #656565;
    text-transform: uppercase;
    font-size: 18px;
  }
  .pricing-table .pricing-button {
    padding: 20px 0;
  }
  .pricing-table {
    padding: 12px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 2px 10px 2px rgba(221, 221, 221, 0.73);
  }
  .pricing-table .price {
    font-weight: 700;
    font-size: 70px;
    /*height: 70px;*/
    line-height: 1;
    color: #303030;
    padding-bottom: 15px;
    font-family: 'Signika', sans-serif;
  }
  .pricing-table .pricing-table-heading p {
    padding-top: 6px;
  }
  .pricing-table .pricing-table-heading p.auto-update {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 20px auto 0;
    padding-bottom: 6px;
  }
  .pricing-table .pricing-button a.btn-pricing {
    background-color: #1abc9c;
    text-transform: uppercase;
    border-radius: 20px;
  }
  .price span {
    font-size: 0.7em;
  }
  .price .sub {
    font-size: 0.5em;
  }
}

/* Small devices (tablets, less than 1200px) */
@media screen and (max-width: 1200px) {
  #subscription .pricing-table {
    margin-bottom: 40px;
  }
}

/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 992px) {
 
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width :767px) {
  
}
