@charset "utf-8";

/*
ALL
*****************************************************/

/* ========================
	reset
=========================== */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption, th {
	text-align: left;
}

q:before, q:after {
	content: '';
}

object, embed {
	vertical-align: top;
}

hr, legend {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}

img, abbr, acronym, fieldset {
	border: 0;
}

ol, ul {
	list-style-type: none;
}


/* ========================
	default
=========================== */
body {
	font-size: 14px;
	font-family: "メイリオ", Meiryo, verdana, "ヒラギノ角ゴ Pro W3",
		"Hiragino Kaku Gothic Pro", Osaka, "ＭＳ Ｐゴシック", "MS PGothic",
		Sans-Serif;
	line-height: 1.5;
	background: url(/img/bg_mainmenu.png) repeat-y left;
}

textarea {
	padding: 5px;
	font-size: 12px;
	line-height: 1.5;
}

html, body {
	height: 100%;
}


/* ========================
	Common
=========================== */
/* 文字サイズ */
.fs10 { font-size: 10px !important; }
.fs11 { font-size: 11px !important; }
.fs12 { font-size: 12px !important; }
.fs13 { font-size: 13px !important; }
.fs14 { font-size: 14px !important; }
.fs15 { font-size: 15px !important; }
.fs16 { font-size: 16px !important; }
.fs17 { font-size: 17px !important; }
.fs18 { font-size: 18px !important; }
.fs19 { font-size: 19px !important; }
.fs20 { font-size: 20px !important; }
.fs21 { font-size: 21px !important; }
.fs22 { font-size: 22px !important; }
.fs23 { font-size: 23px !important; }
.fs24 { font-size: 24px !important; }
.fs25 { font-size: 25px !important; }
.fs26 { font-size: 26px !important; }
.fs27 { font-size: 27px !important; }
.fs28 { font-size: 28px !important; }

/* margin */
.mt00 { margin-top: 0 !important; }
.mt05 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt25 { margin-top: 25px !important; }
.mt30 { margin-top: 30px !important; }
.mt35 { margin-top: 35px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt55 { margin-top: 55px !important; }
.mt60 { margin-top: 60px !important; }
.mt65 { margin-top: 65px !important; }
.mt70 { margin-top: 70px !important; }
.mt75 { margin-top: 75px !important; }
.mt80 { margin-top: 80px !important; }
.mt85 { margin-top: 85px !important; }
.mt90 { margin-top: 90px !important; }
.mt95 { margin-top: 95px !important; }
.mt100 { margin-top: 100px !important; }

.mr00 { margin-right: 0 !important; }
.mr05 { margin-right: 5px !important; }
.mr10 { margin-right: 10px !important; }
.mr15 { margin-right: 15px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr55 { margin-right: 55px !important; }
.mr60 { margin-right: 60px !important; }
.mr65 { margin-right: 65px !important; }
.mr70 { margin-right: 70px !important; }
.mr75 { margin-right: 75px !important; }
.mr80 { margin-right: 80px !important; }
.mr85 { margin-right: 85px !important; }
.mr90 { margin-right: 90px !important; }
.mr95 { margin-right: 95px !important; }
.mr100 { margin-right: 100px !important; }

.mb00 { margin-bottom: 0 !important; }
.mb05 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb65 { margin-bottom: 65px !important; }
.mb70 { margin-bottom: 60px !important; }
.mb75 { margin-bottom: 75px !important; }
.mb80 { margin-bottom: 80px !important; }
.mb85 { margin-bottom: 85px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb95 { margin-bottom: 95px !important; }
.mb100 { margin-bottom: 100px !important; }

.ml00 { margin-left: 0 !important; }
.ml03 { margin-left: 3px !important; }
.ml05 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml25 { margin-left: 25px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }
.ml55 { margin-left: 55px !important; }
.ml60 { margin-left: 60px !important; }
.ml65 { margin-left: 65px !important; }
.ml70 { margin-left: 60px !important; }
.ml75 { margin-left: 75px !important; }
.ml80 { margin-left: 80px !important; }
.ml85 { margin-left: 85px !important; }
.ml90 { margin-left: 90px !important; }
.ml95 { margin-left: 95px !important; }
.ml100 { margin-left: 100px !important; }

/* padding */
.pa00 { padding: 0 !important; }
.pa05 { padding: 5px !important; }
.pa10 { padding: 10px !important; }

.pt00 { padding-top: 0 !important; }
.pt03 { padding-top: 3px !important; }
.pt05 { padding-top: 5px !important; }
.pt08 { padding-top: 8px !important; }
.pt10 { padding-top: 10px !important; }
.pt15 { padding-top: 15px !important; }
.pt20 { padding-top: 20px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt40 { padding-top: 40px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt55 { padding-top: 55px !important; }
.pt60 { padding-top: 60px !important; }
.pt65 { padding-top: 65px !important; }
.pt70 { padding-top: 70px !important; }
.pt75 { padding-top: 75px !important; }
.pt80 { padding-top: 80px !important; }
.pt85 { padding-top: 85px !important; }
.pt90 { padding-top: 90px !important; }
.pt95 { padding-top: 95px !important; }
.pt100 { padding-top: 100px !important; }

.pr00 { padding-right: 0 !important; }
.pr05 { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr15 { padding-right: 15px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr30 { padding-right: 30px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }
.pr55 { padding-right: 55px !important; }
.pr60 { padding-right: 60px !important; }
.pr65 { padding-right: 65px !important; }
.pr70 { padding-right: 70px !important; }
.pr75 { padding-right: 75px !important; }
.pr80 { padding-right: 80px !important; }
.pr85 { padding-right: 85px !important; }
.pr90 { padding-right: 90px !important; }
.pr95 { padding-right: 95px !important; }
.pr100 { padding-right: 100px !important; }

.pb00 { padding-bottom: 0 !important; }
.pb05 { padding-bottom: 5px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb55 { padding-bottom: 55px !important; }
.pb60 { padding-bottom: 60px !important; }
.pb65 { padding-bottom: 65px !important; }
.pb70 { padding-bottom: 70px !important; }
.pb75 { padding-bottom: 75px !important; }
.pb80 { padding-bottom: 80px !important; }
.pb85 { padding-bottom: 85px !important; }
.pb90 { padding-bottom: 90px !important; }
.pb95 { padding-bottom: 95px !important; }
.pb100 { padding-bottom: 100px !important; }

.pl00 { padding-left: 0 !important; }
.pl05 { padding-left: 5px !important; }
.pl10 { padding-left: 10px !important; }
.pl15 { padding-left: 15px !important; }
.pl20 { padding-left: 20px !important; }
.pl25 { padding-left: 25px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }
.pl55 { padding-left: 55px !important; }
.pl60 { padding-left: 60px !important; }
.pl65 { padding-left: 65px !important; }
.pl70 { padding-left: 70px !important; }
.pl75 { padding-left: 75px !important; }
.pl80 { padding-left: 80px !important; }
.pl85 { padding-left: 85px !important; }
.pl90 { padding-left: 90px !important; }
.pl95 { padding-left: 95px !important; }
.pl100 { padding-left: 100px !important; }

/* width */
.wd30 { width: 30px !important; }
.wd40 { width: 40px !important; }
.wd65 { width: 65px !important; }
.wd80 { width: 80px !important; }
.wd100 { width: 100px !important; }
.wd110 { width: 110px !important; }
.wd115 { width: 115px !important; }
.wd130 { width: 130px !important; }
.wd145 { width: 145px !important; }
.wd150 { width: 150px !important; }
.wd180 { width: 180px !important; }
.wd200 { width: 200px !important; }
.wd250 { width: 250px !important; }
.wd280 { width: 280px !important; }
.wd300 { width: 300px !important; }
.wd1000 { width: 1000px !important; }

/* other */
.ac { text-align: center !important; }
.ar { text-align: right !important; }
.al { text-align: left !important; }

.fl { float: left; }
.fr { float: right; }

.bold { font-weight: bold; }

.ov-hi, .ov {
	overflow: hidden;
}

.block {
	display: block;
}

.inline {
	display: inline-block !important;
}

.w-none {
	width: initial !important;
}

.blue {
	color: #229ee1;
}
.deepPink {
	color: #ff0080;
}

.orange {
	color: #e56100;
}

.clear {
	clear: both;
}

a {
	outline: none;
	text-decoration: none;
}

a:hover {
	opacity: 0.8;
}

a img {
	-webkit-transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-o-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

a img:hover {
	opacity: .5;
	filter: alpha(opacity = 50);
	/* ie lt 8 */
	-ms-filter: alpha(opacity = 50);
	/* ie 8 */
	-moz-opacity: .5;
	/* FF lt 1.5, Netscape */
	-khtml-opacity: .5;
	/* Safari 1.x */
}

input[type=submit]:focus, input[type=button]:focus {
	outline: 0;
}

input[type=text], input[type=password] {
	padding: 5px;
	font-size: 14px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

select {
	height: 28px;
	padding: 0px 5px;
	font-size: 14px;
	border: 1px solid #ddd;
	border-radius: 3px;
}

textarea {
	font-size: 14px;
	border: 1px solid #ddd;
	border-radius: 3px;
}


/* ========================
	clearfix
=========================== */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	visibility: hidden;
}

/* ========================
	Header
=========================== */
header {
	overflow: hidden;
	display: block;
	background: #303030;
	padding: 0;
	margin: 0;
}

header h1 {
	padding: 6px;
	float: left;
}

header ul li {
	float: right;
	color: #d3d3d3;
}

header ul li h2 {
	padding: 16px 20px;
}

header ul li a {
	border-left: #989898 dotted 1px;
	padding: 16px 20px;
	color: #fff;
	display: block;
}

#header-wrap {
	width: 1220px;
}


/* ========================
	#wrap
=========================== */

/* column container */
#wrap {
	margin-left: 190px;
	height: 100%;
	min-height: 100%;
	background: #f5f5f5;
}

body>#wrap {
	height: auto;
}

/* 2 column left menu settings */
.left-content {
	float: left;
	width: 190px;
}

.right-content {
	width: 1000px;
	padding: 15px 15px 50px;
	overflow: hidden;
}

#mainmenu ul li {
	width: 179px;
	display: block;
	color: #000;
	background: #f2f2f2;
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#f2f2f2),
		to(#e9e9e9));
	background: -webkit-linear-gradient(#f2f2f2, #e9e9e9);
	background: -moz-linear-gradient(#f2f2f2, #e9e9e9);
	background: -ms-linear-gradient(#f2f2f2, #e9e9e9);
	background: -o-linear-gradient(#f2f2f2, #e9e9e9);
	background: linear-gradient(#f2f2f2, #e9e9e9);
	behavior: url(PIE.htc);
}

#mainmenu ul li.menu-header {
	width: 139px;
	padding: 8px 20px;
	display: block;
	color: #ffffff;
	background: #3d3d3d;
}

#mainmenu ul li a {
	padding: 8px 20px;
	display: block;
	border-bottom: #b3b3b3 1px solid;
	color: #000;
}

#mainmenu ul li a img {
	vertical-align: middle;
	margin-right: 6px;
}

#mainmenu ul li a.now {
	padding: 8px 20px;
	display: block;
	background: url(/img/bg_now.gif);
}

h3 {
	display: block;
	width: 100%;
	font-size: 22px;
	line-height: 150%;
	font-weight: normal;
}

h3 img {
	vertical-align: middle;
	margin-right: 15px;
}

h4 {
	background: #303030;
	color: #FFF;
	font-weight: bold;
	padding: 5px;
	line-height: 100%;
	margin-bottom: 10px;
}

h4 img {
	vertical-align: middle;
	margin: 0 8px 0 3px;
}

p.read {
	margin-bottom: 40px;
}

.dashboardUnit {
	width: 50%;
	float: left;
	display: block;
	margin-bottom: 20px;
}

.dashboardIn {
	margin-right: 30px;
}

.btnArea {
	text-align: right;
	clear: both;
	overflow: hidden;
}

.btnArea a {
	float: right;
	width: 145px;
	text-align: center;
	margin-top: 15px;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: #3aa9e5;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3aa9e5;
}

.btnArea a:hover {
	opacity: 0.8;
	text-decoration: none;
}

.topBline {
	border-top: #b3b3b3 dotted 1px;
	padding-top: 15px;
	margin-top: 15px;
}

.caption {
	color: #C00;
	font-size: 14px;
}


/* ========================
	一覧
=========================== */
#search {
	background: #f0f0f0;
	padding: 10px;
	overflow: hidden;
	width: 215px;
}

#search input, #search select, #sort input, #sort select {
	float: left;
}

#search input[type=text] {
	height: 12px;
	margin-right: 10px;
	width: 150px;
}

/* 絞り込み */
#sort {
	clear: both;
	margin-bottom: 10px;
}

#sort input[type=button], #sort input[type=submit] {
	margin-right: 20px;
}

#sort select, #newEntry select, #entry select, #sortRow select {
	height: 28px;
	margin-right: 5px;
	font-size: 14px;
	color: #000000;
	padding: 0px 6px;
	background: #fff;
	text-align: left;
	border: 1px solid #ddd;
	border-radius: 3px;
	/* float: left; */
	/* display: block; */
}

/* 一覧 */
#listsheet {
	clear: both;
}

#listsheet table {
	width: 100%;
	font-size: 14px;
	margin-bottom: 20px;
}

#listsheet table th {
	background: #303030;
	color: #FFF;
	padding: 10px 5px;
	text-align: center;
	font-weight: bold;
}

#listsheet table td {
	border-bottom: #b3b3b3 dotted 1px;
	padding: 10px 5px;
	text-align: center;
}

#listsheet table td a {
	text-align: left;
	width: 100%;
	display: block;
	color: #e56100;
}

#listsheet table td .btn a {
	color: #ffffff;
	text-align: center;
}

#listsheet table .row a {
	text-align: center;
	color: #52bdeb;
}

#listsheet table .row a:hover {
	text-decoration: none;
	color: #e3e3e3;
	font-weight: bold;
}

/* ページネーション */
.tac {
	text-align: center;
	margin: 0 0 30px;
	padding: 30px 30px 0 30px;
}

/* 並び替え */
#sortRow { /*background:#f0f0f0;*/
	border-top: #b3b3b3 1px dotted;
	border-bottom: #b3b3b3 1px dotted;
	padding: 10px;
	margin-bottom: 15px;
	overflow: hidden;
}

#sortRow select {
	float: right;
}

#sortRow .btnArea input {
	font-size: 12px !important;
	padding: 4px 10px !important;
}

#sortRow h5 {
	float: left;
}

/* チェックボックスボタン */
.btnLeft {
	padding-bottom: 15px;
}

.btnLeft input, .btnLeft select {
	float: left;
	margin-right: 15px;
}


/* ========================
	新着情報
=========================== */
#newEntry {
	margin-bottom: 30px;
	clear: both;
	overflow: hidden;
}

#newEntry textarea {
	width: 80%;
	height: 100px;
	margin-bottom: 15px;
}

#newEntry p {
	float: left;
	width: 120px;
	text-align: right;
	display: block;
	margin-bottom: 15px;
	display: block;
}

td.entryText {
	width: 70%;
	text-align: left !important;
}

#newEntry .btnArea {
	width: 200px;
	float: right;
}

#newEntry .btnArea input[type=button], #newEntry .btnArea input[type=submit],
	#sortRow .btnArea input[type=button], #sortRow .btnArea input[type=submit]
	{
	float: right;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: #3aa9e5;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3aa9e5;
	-moz-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.3), inset 0px 0px 0px
		rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.3), inset 0px 0px
		0px rgba(255, 255, 255, 0.6);
	box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.3), inset 0px 0px 0px
		rgba(255, 255, 255, 0.6);
	text-shadow: 0px 1px 1px rgba(050, 141, 183, 1), 0px 1px 0px
		rgba(255, 255, 255, 0.4);
	behavior: url(PIE.htc);
}


/* ========================
	コースパターン選択
=========================== */
.patternUnit {
	float: left;
	display: block;
	margin-right: 15px;
	margin-bottom: 15px;
}

.patternUnit input t {
	float: left;
}

.patternUnit input[type=text] {
	height: 20px;
	margin-right: 10px;
	width: 150px;
}


/* ========================
	他
=========================== */
#entry {
	margin-bottom: 30px;
	clear: both;
	overflow: hidden;
}

#entry textarea {
	width: 80%;
	/*height:100px; */
	margin-bottom: 0px;
}
/*#entry p { float:left; width:120px; text-align:right; display:block; margin-bottom:15px;}*/
#entry .unit {
	clear: both;
	margin-bottom: 10px;
	overflow: hidden;
	display: block;
	position: relative;
}

.upImgArea {
	padding: 5px;
	border: #CCC dotted 1px;
	float: left;
}

#entry .pickBtnArea, .moreBtnArea {
	border-bottom: #b3b3b3 dotted 1px;
	overflow: hidden;
	margin-bottom: 15px;
	padding-bottom: 15px;
}

#entry .pickBtnArea input, .moreBtnArea input {
	margin-left: 15px;
}

#entry .pickBtnArea input[type=button], #entry .pickBtnArea input[type=submit],
	.moreBtnArea input[type=button], .moreBtnArea input[type=submit] {
	float: right;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 70px;
	background: #3aa9e5;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3aa9e5;
	-moz-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.3), inset 0px 0px 0px
		rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.3), inset 0px 0px
		0px rgba(255, 255, 255, 0.6);
	box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.3), inset 0px 0px 0px
		rgba(255, 255, 255, 0.6);
	text-shadow: 0px 1px 1px rgba(050, 141, 183, 1), 0px 1px 0px
		rgba(255, 255, 255, 0.4);
	behavior: url(PIE.htc);
}

.moreBtnArea input[type=button], .moreBtnArea input[type=submit] {
	padding: 10px 20px !important;
}

.addition {
	text-align: right;
	margin-bottom: 15px;
}

.addition input[type=button], .addition input[type=submit] {
	color: #ffffff;
	padding: 3px 10px;
	background: #52bdeb;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3aa9e5;
	-moz-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.2), inset 0px 0px 0px
		rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.2), inset 0px 0px
		0px rgba(255, 255, 255, 0.6);
	box-shadow: 0px 1px 3px rgba(000, 000, 000, 0.2), inset 0px 0px 0px
		rgba(255, 255, 255, 0.6);
	text-shadow: 0px 1px 0px rgba(050, 141, 183, 1), 0px 1px 0px
		rgba(255, 255, 255, 0.4);
}

.endList li {
	background: url(/img/ic_arrow.png) center left no-repeat;
	padding: 8px 0 6px 12px;
}


/* ========================
	#footer
=========================== */
footer {
	text-align: center;
	background: #303030;
	overflow: hidden;
	color: #FFF;
	font-size: 10px;
	padding: 7px 0;
	position: fixed !important;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	display: block;
}

#footer-wrap {
	width: 1220px;
}


/* ========================
	LOGIN
=========================== */
#login {
	background-image: none;
	border-top: #333 20px solid;
	font-size: 14px;
}

#loginArea {
	margin: 100px auto 0 auto;
	padding: 20px;
	display: block;
	width: 500px;
	background: url(/img/bg_login.gif);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 0px solid #3aa9e5;
}

#loginArea p {
	display: block;
	border-top: #e1e1e1 1px solid;
	margin-top: 30px;
	padding: 30px 0 15px 0;
	text-align: center;
}

#loginArea address {
	text-align: center;
}

#loginArea address img {
	vertical-align: middle;
	margin: 0 10px;
}

#inputArea {
	padding: 30px 10px;
	overflow: hidden;
	font-size: 16px;
}

#inputArea .inputField {
	float: left;
	text-align: right;
	width: 300px;
}

#inputArea .inputField input {
	width: 200px;
	margin-left: 10px;
	height: 18px;
}

#login .btnArea {
	width: 200px;
	float: right;
}


/* ========================
	Google Fonts
=========================== */
@import url(http://fonts.googleapis.com/css?family=Satisfy);

@import url(http://fonts.googleapis.com/css?family=Quicksand);


/* -----------------------------------------------------------
	追加CSS
-------------------------------------------------------------- */
.upImgArea {
	padding: 5px;
	border: #CCC dotted 1px;
	float: left;
	position: relative;
}

.close {
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity = 20);
}

.close:hover, .close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.close_img {
	font-size: 24px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity = 20);
	position: absolute;
	top: 0px;
	right: 2px;
}

.close_img:hover, .close_img:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}

button.close_img {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.btnArea2 input[type=button] {
	margin-left: 15px;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: #3aa9e5;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #3aa9e5;
	-moz-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.3), inset 0px 0px 0px
		rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.3), inset 0px 0px
		0px rgba(255, 255, 255, 0.6);
	box-shadow: 0px 0px 2px rgba(000, 000, 000, 0.3), inset 0px 0px 0px
		rgba(255, 255, 255, 0.6);
	text-shadow: 0px 1px 1px rgba(050, 141, 183, 1), 0px 1px 0px
		rgba(255, 255, 255, 0.4);
	behavior: url(PIE.htc);
}

#entry {
	margin: 0 auto 30px;
	clear: both;
	overflow: hidden;
}

.hid {
	display: none !important;
}

.upImgArea {
	padding: 5px;
	border: #CCC dotted 1px;
	float: left;
	position: relative;
	background: #ffffff;
}

.close {
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity = 20);
}

.close:hover, .close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.close_img {
	font-size: 24px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity = 20);
	position: absolute;
	top: 0px;
	right: 2px;
}

.close_img:hover, .close_img:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.4;
	filter: alpha(opacity = 40);
}

button.close_img {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.upImgArea2 {
	padding: 20px;
	border: #CCC dotted 1px;
	float: left;
	position: relative;
}

.editarea {
	max-width: 100%;
	display: inline-block;
}

.title {
	float: left;
	width: 155px;
	text-align: right;
	display: block;
	margin-bottom: 0px;
}

.title-fix {
	width: 155px;
	text-align: right;
	display: block;
	margin-bottom: 0px;
}

#entry .subcategory_block {
	margin-left: 120px;
	margin-bottom: 30px;
}

.required {
	color: #C00;
}

.loginPanel .required {
	color: #000;
	padding-left: 0;
}

.unit-box {
	margin: 0 0 10px 140px;
	overflow: hidden;
}

.unit-inner-box {
	float: left;
	width: 360px;
}

.err {
	display: none;
}


/* ========================
	ADD CSS
=========================== */
input[type="number"] {
	height: 20px;
	margin-right: 5px;
	width: 70px;
	font-size: 14px;
	color: #000000;
	padding: 2px 6px;
	background: #ffffff;
	text-align: left;
	border: 1px solid #ddd;
	border-radius: 3px;
	/* float: left; */
	/* display: block; */
}

#entry p {
	line-height: 22px;
}

#listsheet table td a.send_mail {
	width: 30px;
	padding: 2px 5px;
	background: #52bdeb;
	color: #FFF;
	text-align: center;
	margin: 0 auto;
}

.mail_body {
	margin-left: 140px;
	width: 885px;
	/*height: 300px;*/
	white-space: pre-wrap;
	/*overflow: scroll;*/
}

.send_mail {
	display: none !important;
}


/* ========================
	スケジュール管理
=========================== */
.topLine {
	border-top: 1px solid #ccc;
}

.area-left {
	width: 75%;
	float: left;
}

.area-right {
	width: 25%;
	float: left;
}

#schedule input[type="number"] {
	height: 24px;
	float: none;
	display: inline;
}


/* ========================
	breadcrumb
=========================== */
.breadcrumb {
	padding: 8px 15px;
	margin: 5px 0 15px;
	overflow: hidden;
	list-style: none;
	background-color: #e6e6e6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.breadcrumb li {
	display: inline-block;
	text-shadow: 0 1px 0 #ffffff;
	line-height: 20px;
}

.breadcrumb a {
	color: #0088cc;
	text-decoration: none;
}

.breadcrumb .divider {
	padding: 0 5px;
	color: #ccc;
}

.breadcrumb .active {
	color: #222;
}

.title-link {
	text-decoration: underline;
	cursor: pointer;
}


/* ========================
	button
=========================== */
.btn {
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	padding-top: 1px;
	padding-bottom: 1px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #ababab;
	border: 1px solid #ababab;
}

.btn:hover {
	filter: alpha(opacity = 80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	cursor: pointer;
}

.btn-submit {
	float: none !important;
	margin: 0 auto;
	padding: 10px 20px;
	display: block;
	background: #3aa9e5;
	border: 1px solid #3aa9e5;
}

.btn-back {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 20px;
	background-color: #a5a5a5 !important;
	border: 1px solid #a5a5a5 !important;
}

.btn-cancel {
	background-color: #a5a5a5 !important;
	border: 1px solid #a5a5a5 !important;
}

.btn-upload, .btn-check-delete {
	display: block;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	color: #000000;
	padding: 3px 6px;
	background: -moz-linear-gradient(top, #52bdeb 0%, #52bdeb);
	background: -webkit-gradient(linear, left top, left bottom, from(#52bdeb),
		to(#52bdeb));
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 0px solid #3aa9e5;
	-moz-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.3), inset 0px 0px 0px
		rgba(255, 255, 255, 0.6);
	-webkit-box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.3), inset 0px 0px
		0px rgba(255, 255, 255, 0.6);
	box-shadow: 0px 1px 1px rgba(000, 000, 000, 0.3), inset 0px 0px 0px
		rgba(255, 255, 255, 0.6);
	text-shadow: 0px 1px 1px rgba(050, 141, 183, 1), 0px 1px 0px
		rgba(255, 255, 255, 0.4);
}

.btn-event-search, .btn-mail-search {
	margin: 0 auto;
	width: 120px;
	padding: 8px;
	display: inline-block;
	background: #3aa9e5;
	border: 1px solid #3aa9e5;
}

.btn-event-reset {
	margin: 0 auto;
	width: 120px;
	padding: 8px;
	display: inline-block;
}

.btn-mail-reset {
	margin: 0 auto;
	width: 140px;
	padding: 8px;
	display: inline-block;
}

.btn-edit {
	background: #ffa11a;
	border: 1px solid #ffa11a;
}

.btn-confirm {
	background: #3aa9e5;
	border: 1px solid #3aa9e5;
}

.btn-list, .btn-send {
	background: #80bb3f;
	border: 1px solid #80bb3f;
}

.btn-delete, .btn-resend {
	margin-top: 0 !important;
	background: #dd1f26 !important;
	border: 1px solid #dd1f26 !important;
}

.btn-add {
	padding: 10px 15px;
}

.btn-search {
	padding: 10px 15px;
}


/* ========================
	search
=========================== */
.sort-disp {
	float: left;
	line-height: 25px;
}

.disp-count {
	margin-left: 10px;
	display: inline-block;
}

.event-id {
	display: inline-block;
	float: left;
}

.event-img {
	float: left;
	margin-right: 10px;
}

.event-condition {
	float: left;
	text-align: left;
}

.left-block, .right-block {
	float: left;
	width: 50%;
}

table.event-search {
	font-size: 14px;
}


/* ========================
	pagination
=========================== */
.pagination ul {
	display: inline-block;
	margin-left: 0;
	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
	display: inline;
}

.pagination li:first-child a {
	border-left-width: 1px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.pagination li:last-child a {
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.pagination a {
	float: left;
	padding: 0 14px;
	line-height: 34px;
	text-decoration: none;
	border: 1px solid #ddd;
	border-left-width: 0;
	color: #369bd7;
	background: #ffffff;
}

.pagination .active a {
	color: #fff;
	cursor: default;
}

.pagination a:hover, .pagination .active a {
	background-color: #3aa9e5;
	color: #fff;
}

.link-text {
	text-decoration: underline;
}


/* ========================
	login
=========================== */
.loginWrapper {
	margin: -80px 0 0 -160px;
	position: absolute;
	top: 45%;
	left: 50%;
}

.loginPanel {
	width: 325px;
	background: #fafafa;
	border: 1px solid #d5d5d5;
	border-top: 0;
	display: block;
}

.head {
	min-height: 38px;
	border-top: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	position: relative;
	background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa),
		color-stop(100%, #efefef));
	background: -webkit-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: -o-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: -ms-linear-gradient(top, #fafafa 0%, #efefef 100%);
	background: linear-gradient(top, #fafafa 0%, #efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa',
		endColorstr='#efefef', GradientType=0);
}

.head:after {
	content: "";
	display: block;
	clear: both;
}

.loginPanel h5 {
	font-weight: normal;
	padding: 9px 12px 9px 35px;
	float: left;
}

.loginRow {
	border-top: 1px solid #e7e7e7;
	padding: 15px 0;
	position: relative;
}

.loginRow:first-child {
	border-top: none;
}

.loginPanel label {
	display: block;
	float: left;
	padding: 2px 10px;
	text-align: right;
}

.loginPanel label {
	width: 90px;
}

.message {
	background: #ffc3e1;
	font-size: 15px;
	padding: 12px 20px;
	position: absolute;
	width: 100%;
}

.search, .mail-search {
	width: 100%;
	background: #f9f9f9;
	margin-bottom: 15px;
}

.search th {
	width: 15%;
	background: #f0f0f0;
	font-weight: normal;
	text-align: center;
	padding: 5px;
	border: 1px solid #ccc;
}

.search td {
	width: 35%;
	padding: 10px 5px 10px 10px;
	border: 1px solid #ccc;
}

.search .datetimepicker {
	max-width: 133px;
	font-size: 13px;
}

.mail-search th {
	width: 20%;
	background: #f0f0f0;
	font-weight: normal;
	text-align: center;
	padding: 5px;
	border: 1px solid #ccc;
}

.mail-search td {
	width: 80%;
	padding: 10px 5px 10px 10px;
	border: 1px solid #ccc;
}

table.table-list {
	width: 100%;
}

.table-list th {
	background: #f0f0f0;
	font-weight: normal;
	text-align: center;
	padding: 10px 5px 10px 10px;
	border: 1px solid #ccc;
}

.table-list td {
	text-align: center;
	padding: 10px 5px 10px 10px;
	border: 1px solid #ccc;
}

.table-border-right {
	border-right-style: hidden !important;
}

hr.divider {
	border: solid #ccc;
	border-width: 1px 0 0;
	clear: both;
	margin: 25px 0;
	height: 0;
	display: block;
}

.checkbox {
	display: inline-block;
}

.checkbox input {
	margin-right: 3px;
}

.event-search .checkbox {
	width: 160px;
}

.code-area {
	width: 485px;
	margin: 0 auto;
}

.code {
	width: 100%;
	background: #f9f9f9;
	margin-bottom: 15px;
}

.code th {
	width: 20%;
	background: #f0f0f0;
	font-weight: normal;
	padding: 2px 10px;
	border: 1px solid #ccc;
}

.code td {
	width: 30%;
	padding: 2px 10px;
	border: 1px solid #ccc;
}

.code-list-show, .code-list-hide {
	cursor: pointer;
}

.unit-main {
	overflow: hidden;
	margin-bottom: 10px;
}

.unit-left {
	float: left;
	width: 155px;
}

.unit-left>p {
	text-align: right;
}

.unit-right {
	margin-left: 155px;
	min-height: 23px;
}


/* ========================
	table sort
=========================== */
#listsheet table thead th {
	background: none;
}

table thead {
	background: #000;
}

#listsheet table th a {
	background-image: url(/img/bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	width: 20px;
	height: 12px;
	display: inline-block;
}

#listsheet table th a.asc {
	background-image: url(/img/asc.png);
}

#listsheet table th a.desc {
	background-image: url(/img/desc.png);
}

.error-message {
	color: #f00;
	font-size: 13px;
}

#listsheet table td.td-title {
	text-align: left;
	color: #e56100;
}

.lefted-text {
	text-align: left !important;
}

.event-content-left {
	float: left;
	width: 60px;
}

.event-content-right {
	margin-left: 75px;
}

.add-photo-block {
	display: inline-block;
	position: relative;
	width: 133px;
	height: 133px;
	overflow: hidden;
	background: #fff;
	border: 2px dashed #bbb;
	cursor: pointer;
}

.add-photo {
	padding: 48px 48px;
	opacity: 0.7;
}

.add-photo:hover {
	opacity: 0.5;
}

.uploader {
	display: none;
}

.uploaded-photo {
	border: 2px solid #ddd;
}

.fade-photo {
	position: absolute;
	top: 0;
	width: 133px;
	height: 133px;
	background: #ccc;
	opacity: 0;
}

.photo-action {
	position: absolute;
	top: 55px;
	left: 30px;
	opacity: 0;
}

.add-photo-block:hover .fade-photo {
	opacity: 0.6;
}

.add-photo-block:hover .photo-action {
	opacity: 1;
}


/* ========================
	modal
=========================== */
body {
	position: relative;
}

#modal, #message-modal, #pref-modal, .modal-box,
#modal-event-type1, #modal-event-type2 {
	display: none;
}

#overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #ccc;
	opacity: 0.5;
}

.modal {
	position: absolute;
	top: 150px;
	left: calc(50% - 300px);
	background: #fff;
	width: 600px;
	padding: 10px;
}

.modal .checkbox, .search-modal .checkbox {
	margin: 5px 10px;
}

.modal-close, .pref-modal-close, .pref-modal-box-close {
	margin: 5px auto 0;
	padding: 5px 15px;
}

#all_clear_button {
	position: absolute;
	padding: 5px 15px;
}

#all_clear_button:focus {
	outline: none;
}

#cancel_button {
	position: absolute;
	right: 15px;
	margin-top: 0;
	padding: 5px 15px;
}

.report-log, .message-log, .authentication-log {
	padding: 5px 15px;
}

.close-btn {
	top: -15px;
	right: -15px;
	position: absolute;
	z-index: 2;
	display: inline-block;
	width: 35px;
	height: 35px;
	font-size: 26px;
	line-height: 31px;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #666;
	border: 1px solid #ccc;
	background: #fff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	cursor: pointer;
}


/* ========================
	user
=========================== */
.user-tab {
	width: 100%;
	margin: 20px 0;
}

.user-tab td {
	background: #f0f0f0;
	font-weight: normal;
	text-align: center;
	border: 1px solid #ccc;
	cursor: pointer;
}

.user-tab td.tab-active {
	background: #ffeef0;
}

.user-tab td:hover {
	background: #ffeef0;
}

.user-tab a {
	display: block;
	padding: 5px;
	color: #000;
}

.report-box, .message-box {
	padding: 5px;
}

.report-message {
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 13px;
}

.message-area {
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 13px;
	min-height: 200px;
}

.count {
	color: #e56100;
}


/* ========================
	Authentication
=========================== */
.authentication-header {
	font-size: 15px;
	font-weight: bold;
}

.authentication-status {
	width: 540px;
	margin-top: -4px;
}

.authentication-log {
	float: none !important;
	margin: 0 auto;
	display: block;
	width: 60px;
}

.authentication-issue {
	margin: 0 auto;
	width: 300px;
}

.authentication-search {
	float: left;
	width: 250px;
}

.btn-authentication {
	display: block;
	background: #3aa9e5;
	border: 1px solid #3aa9e5;
	float: left;
	padding: 3px 20px;
}


/* ========================
	ReportList
=========================== */
.reportlist-search {
	float: left;
	width: 360px;
}


/* ========================
	Payment
=========================== */
.btn-change {
	padding: 3px 10px;
}

.event-search-pref {
	margin-bottom: 15px;
}

.event-search-pref input[type="checkbox"], .event-search-pref label {
	cursor: pointer;
}

.event-search-pref .checkbox-inline {
	display: inline-block;
	width: 80px;
}

.event-search-pref .inline label {
	padding-left: 5px;
	font-weight: bold;
}

.event-search-pref .checkbox-inline input[type="checkbox"] {
	margin-right: 10px;
}

