//
// Landing Contact
// --------------------------------------------------

.form-control {
  box-shadow: none !important;
  border: 2px solid #dddddd;
  height: 44px;
}

.contact-form .form-control {
  margin-bottom: 25px;
}

.parsley-errors-list {
  padding-left: 0;
}
.parsley-errors-list li {
  display: none;
}
.parsley-error {
  border-color: #f00 !important;
}

.error_message {
  padding: 0;
  margin: 0 0 10px;
  color: #f00;
  font-weight: 500;
}

.contact-loader {
  float: left;
}

#success_page {
  text-align: center;
  margin-top: 50px;
}

#success_page h3 {
  color: #0dba26;
}

#success_page p {
  font-family: 'Crete Round', serif;
}

.contact-footer {
  padding-bottom: 70px;
}

.contact-footer-box {
  padding-top: 30px;
}

.contact-footer-box i {
  font-size: 32px;
  margin-bottom: 20px;
  display: block;
}

.contact-footer-box h5 {
  color: #989898;
  font-weight: normal;
}

.contact-form .has-error .form-control {
  border: 1px solid #e72d5f;
  -webkit-box-shadow: 0 0px 10px #e72d5b !important;
  box-shadow: 0 0px 10px #e72d5b !important;
  margin-bottom: 0;
}
.contact-form .has-error .error-message {
  display: inline-block;
  margin-bottom: 6px;
}
.contact-btn-outer {
  text-align: right;
}

//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {
  .contact-btn-outer {
    text-align: center;
  }
}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}

