//
// Landing CTA Section
// --------------------------------------------------

.cta-section h4 {
  line-height: 30px;
  //font-family: 'Crete Round', serif;
  //font-style: italic;
  font-weight: normal;
}
.cta-section h1 {
  margin-bottom: 20px;
  font-size: 40px;
}

.bg-img .cta-section h4,
.bg-img .cta-section h1 {
  color: #fff;
}


//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {

}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}
