//
// Landing Features
// --------------------------------------------------

.features {
  padding: 50px 0;
}

.features-box .number{
  //height: 60px;
  //width: 60px;
  height: 50px;
  width: 50px;
  background-color: $main-color;
  color: #ffffff;
  border: 2px solid $main-color;
  font-size: 24px;
  text-align: center;
  //line-height: 56px;
  line-height: 46px;
  border-radius: 50%;
  font-weight: bolder;
}

.features-box h3 {
  line-height: 30px;
}

.features-box h4 {
  line-height: 24px;
  color: #666;
  margin-bottom: 20px;
}

.features-box p {
  line-height: 28px;
  margin-top: 20px;
  font-size: 16px;
  color: #848e92;
}

.img-shadow {
  box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.1);
}


//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {
  .features img {
    margin: 0 auto;
    display: inherit;
    width: 150px;
  }
  .features-box p {
    margin-bottom: 20px;
  }
}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}