//
// Landing Footer
// --------------------------------------------------

.footer {
  padding: 70px 0;
}

.footer h5{
  margin-bottom: 15px;
  font-size: 16px;
}

.footer ul {
  margin-bottom: 0;
}

.footer p {
  line-height: 24px;
}

.footer ul.footer-list li a {
  color: #585858;
  display: inline-block;
  padding: 5px 0;
  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}

.footer ul.footer-list li a:hover  {
  color: #333;
}

.footer .social {
  margin-top: 20px;
  margin-bottom: 0;
}

.footer-alt .copy-rights {
  margin: 0;
  line-height: 60px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}


//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {

}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}
