//
// Landing Fun facts
// --------------------------------------------------

.funfacts {
  color: #585858;
}

.funfacts .facts i {
  font-size: 36px;
}


//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {

}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}
