//
// Landing Helper
// --------------------------------------------------

.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.title-box {
  padding-bottom: 30px;
}

.title-box i{
  font-size: 36px;
  color: #aaa;
}

.title-box p {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 10px;
}

.title-box h2 {
  font-weight: 700;
  margin-top: 10px;
}

.title-box h4 {
  width: 60%;
  line-height: 24px;
  margin: 10px auto;
  font-size: 16px;
}

.bg-lightgray {
  background-color: #fafafa;
}

.bg-dark {
  background-color: #222328;
}

.text-custom {
  color: $main-color;
}

.text-warning {
  color: #ffbd4a;
}

.margin-t-20 {
  margin-top: 20px;
}

.margin-t-30 {
  margin-top: 30px;
}

.margin-t-50 {
  margin-top: 50px;
}

.font-2 {
  font-style: italic;
  font-weight: 400;
  font-family: 'Crete Round', serif;
}

.vertical-content {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  flex-direction: row;
  -webkit-flex-direction: row;
}


/* Background images css */
.bg-home {
  background: url("../images/img-1.jpg");
  background-size: cover;
  background-color: #222328;
  position: relative;
}

.bg-pattern {
  background: url("../images/bg-pattern.png");
}

.bg-img-1 {
  background: url(http://themesdesign.in/vakavia/images/img-1.jpg);
  background-size: cover;
  background-color: #222328;
  position: relative;
}

.bg-img-2 {
  background: url(/img/bg1.jpg) no-repeat center;
  background-size: cover;
  /*background-color: #222328;*/
  position: relative;
}

.bg-img-3 {
  background: url(/img/bg3.jpg);
  background-size: cover;
  position: relative;
}

.bg-overlay:before {
  content: '';
  background: rgba(0,0,0,0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}


/* Social */
.social li a {
  display: block;
  height: 36px;
  width: 36px;
  color: #222328 !important;
  line-height: 36px;
  text-align: center;
  text-decoration: none !important;
  border-radius: 50%;
  border: 2px solid #585858;;
}

.social li a:hover {
  color: #ffffff !important;
  border-color: transparent;
}


//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {

}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}
