//
// Landing Home
// --------------------------------------------------

.home-fullscreen {
  height: 100%;
  min-height: 400px;
}

.home-wrapper-alt{
  display: table-cell;
  vertical-align: middle;
}

.home-wrapper h1{
  color: #fff;
  line-height: 54px;
  margin-top: 0;
  font-weight: bold;
}

.home-wrapper h4 {
  color: #fff;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 60px;
  font-size: 17px;
  font-weight: normal;
}

.video-btn {
  color: #585858 !important;
  letter-spacing: 1px;
  outline: none !important;
  box-shadow: none !important;
}

.video-btn i {
  margin-right: 7px;
  height: 24px;
  width: 24px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #222328;
  line-height: 24px;
  border-radius: 50%;
  padding-left: 3px;
  font-size: 12px;
}

.full-screen {
  display: table;
  height: 100%;
  width: 100%;
}


/* === HOME VARIATIONS === */
.home-small {
  padding: 160px 0 100px 0;
}

/* Home intro */
.home-intro h1 {
  font-size: 57px;
  margin-bottom: 60px;
}
.home-intro h2 {
  color: #fff;
  font-size: 67px;
  line-height: 61px;
  margin: 0 0 40px;
  font-weight: 600;
}
.home-intro h5 {
  color: #fff;
  font-size: 12px;
  padding: 0;
  margin: 10px 0 0;
  font-weight: normal;
  line-height: 15px;
}
.home-intro p {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding-right: 25%;
}

.home-intro .intro-form {
  background: #fff;
  padding: 0 40px 40px;
  border-radius: 5px;
  overflow: hidden;
}
.home-intro .intro-form input {
  height: 46px;
  box-shadow: none;
  border: 2px solid #e5e5e5;
  width: 100%;
  padding: 15px 20px;
  color: #000;
  outline: none !important;
}
.home-intro .input {
  margin-top: 18px;
}
.home-intro .input:first-child {
  margin-top: 0;
}
.home-intro .input + button[type=submit] {
  margin-top: 18px;
}
.home-intro .intro-form input:focus {
  border: 2px solid $main-color;
}

.home-intro .intro-form h5 {
  color: #fff;
  font-size: 26px;
  background: $main-color;
  padding: 25px 40px 25px;
  margin: 0 -40px 30px;
  font-weight: bold;
}

.home-intro .intro-form p {
  color: #999;
  //padding: 17px 30px 0px;
  padding: 17px 0px 0px 30px;
  font-size: 12px;
  //text-align: center;
  text-align: right;
  line-height: 18px;
  margin: 0px;
}

.home-intro .intro-form p a {
  color: #999;
}

.home-intro .intro-form p a:hover span {
  text-decoration: underline;
}


/* Home Showcase */
.home-showcase {
  padding: 210px 0px 0px 0px;
}

/* Home Header-2 */
.home-header-2 {
  padding: 240px 0px 160px 0px;
}


/* Home Slider */
.home-slider {
  padding: 250px 0 200px 0;
}
#home-slider {
  position: relative;
  top: 0px;
}

#home-slider .is-prev,#home-slider .is-next  {
  position: absolute;
  height: 80px;
  width: 80px;
  top: 50%;
  left: 20px;
  z-index: 999;
  margin-top: -50px;
  color: #222;
  line-height: 93px;
  text-align: center;
  font-size: 36px;
  cursor: pointer;
  opacity: 0.4;
  transition: .4s;
}

#home-slider .is-next {
  right: 20px;
  left: auto;
}

#home-slider .is-prev:hover,
#home-slider .is-next:hover {
  opacity: 1;
  transition: .4s;
}

#home-slider .flex-direction-nav {
  display: none;
}

.bg-img .home-intro h4,
.bg-img .home-intro h1 {
  color: #fff;
}

.btn-signup {
  font-size: 18px;
  height: 60px;
  border-radius: 5px;
}


//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {

}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}

