//
// Landing Navbar
// --------------------------------------------------

.navbar-custom{
  padding: 15px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  -webkit-transition: all 0.5s ease-in-out;
     -moz-transition: all 0.5s ease-in-out;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

.sticky-wrapper {
  position: absolute;
  width: 100%;
}

.navbar-nav {
  margin-top: 9px;
}

.logo {
  font-weight: 500;
  font-size: 26px;
  color: #585858 !important;
  padding: 6px 15px 12px;
  height: 45px;
}
.logo span {
  color: $main-color;
}
.page-navbar-header {
  float: inherit;
  text-align: center;
}
.page-navbar-header .logo {
  float: inherit;
  display: inline-block;
}
.navbar-custom .navbar-nav li a {
  color: #fff;
  font-size: 13px;
  background-color: transparent !important;
  padding: 7px 10px;
  margin: 0 5px 7px;
  font-weight: 600;
  letter-spacing: 0.03em;
  //text-transform: uppercase;
  border-radius: 3px;
}

.navbar-custom .navbar-nav li a {
  color: #585858;
}

.navbar-custom .navbar-nav li a:hover,
.navbar-custom .navbar-nav li a:focus,
.navbar-custom .navbar-nav li a:active {
  color: #333;
}

.navbar-custom .navbar-nav li.active a {
  color: #ffffff !important;
  background-color: $main-color !important;
}

.navbar-custom{
  margin-top: 0px;
  padding: 10px 0px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 33px rgba(0,0,0,.1);
     -moz-box-shadow: 0 10px 33px rgba(0,0,0,.1);
          box-shadow: 0 10px 33px rgba(0,0,0,.1);
}

.navbar-toggle {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.navbar-custom .btn-custom {
  margin-top: 8px;
  margin-left: 20px;
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent;
  border-color: #337ab7;
}


/* Navbar white */

.navbar-header-white {
  background-color: #ffffff !important;
  padding: 15px 0px !important;
}

.navbar-header-white .logo {
  color: #222328 !important;
}


.navbar-header-white.navbar-custom .navbar-toggle {
  color: #222328;
}


//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {

}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}

