//
// Pages
// --------------------------------------------------


.layouts-pages .header .container > .row {
  padding: 160px 20px 80px;
}
.layouts-pages .header {
  background-color: #699bbc;
  color: #fff;
}
.titlebox h2 {
  line-height: 36px;
}
.layouts-pages .header .titlebox h2 {
  font-size: 16px;
}
.layouts-pages .header .menu ul {
  list-style: none;
  padding: 0;
}
.layouts-pages .header .menu ul li {
  float: left;
}
.layouts-pages .header .menu ul li a {
  display: block;
  padding: 0 10px;
  line-height: 38px;
  color: #fff;
  border-bottom: 2px solid transparent;
  -webkit-transition: none;
  transition: none;
}





table {
  font-size: inherit;
  width: 100%;
  max-width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
table tr th,
table tr td {
  padding: 20px;
  border: 1px solid #e3e4e8;
}
table tr th {
  text-align: center;
  background-color: #f6f8fa;
  width: 20%;
}
table tr td {
  background-color: #fff;
  width: 80%;
}
table tr td p {
  font-size: 13px;
  margin: 0;
}


main {
  padding: 40px;
}

.message {
    background: #F19CA1!important;
    text-align: center;
    color: #fff!important;
    font-size: 15px;
    height: 53px;
    border: none;
    padding: 17px 20px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}
.message .close {
  font-size: 16px;
  padding: 0 6px 4px;
  line-height: .9;
  position: absolute;
  top: 50%;
  margin-top: -0.6875rem;
  right: 0.25rem;
  color: #333333;
  opacity: 0.3;
  background: inherit;
}
.message .close {
  color: #fff;
  float: none;
  opacity: 1;
  right: initial;
}


// Invite
.invite-section {
  background-color: #fafafa;
  padding: 30px 40px;
}
.invite-section p {
  margin: 0;
  padding: 0;
}
.invite-section h2 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 16px;
}
.invite-section h4 {
  font-size: 15px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.invite-section ul {
  padding-left: 30px;
  margin-bottom: 28px;
}
.invite-section table {

}
.invite-section table tr th,
.invite-section table tr td {
  width: inherit;
  background-color: transparent;
  border: none;
}
.invite-section table tr th {
  text-align: right;
  font-size: 17px;
  font-weight: bold;
  vertical-align: middle;
}
.invite-section .sns_btn {
  list-style-type: none;
  padding: 0;
  width: 604px;
  margin: 35px auto;
}
.invite-section .sns_btn li {
  display: inline-block;
  text-align: center;
  width: 100px;
  margin-right: 64px;
}
.invite-section .sns_btn li img {
  margin-bottom: 12px;
  width: 80px;
}
.invite-section .sns_btn li:last-child {
  margin-right: 0;
}
.invite-code {
  clear: both;
  width: 860px;
  margin: 0 auto;
  border-top: 1px solid #c9c9c9;
  border-bottom: 1px solid #c9c9c9;
  padding: 30px 0;
  margin-bottom: 30px;
}
.invite_box {
  width: 370px;
  height: 40px;
  border: 1px solid #c9c9c9;
  color: #aaaaaa;
  font-size: 16px;
  padding: 0 12px;
}
.invite-lead {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.5;
}


.bang-section__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.78;
  position: relative;
  padding-left: 14px;
  margin: 24px 0;
}

.bang-section__title::before {
  position: absolute;
  top: 9px;
  left: 0;
  display: inline-block;
  height: 24px;
  margin-right: 10px;
  content: '';
  vertical-align: middle;
  border-left: 5px solid #699bbc;
}

.bang-compare-plan {

}
.bang-compare-plan .bang-compare-plan__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 26px 10px;
  text-align: center;
  color: #699bbc;
  background: #f7f7f7;
}
.bang-compare-plan .bang-compare-plan__plan {
  font-size: 20px;
}
.bang-compare-plan p {
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 16px;
}
.bang-compare-plan ul {
  line-height: 1.64;
  padding-left: 30px;
}
.bang-compare-plan ul li {
  margin-bottom: 8px;
  font-size: 15px;
}

.bang-table {
  width: 100%;
  margin: 0 0 60px;
  padding: 0;
  table-layout: fixed;
  border-collapse: collapse;
  border: 2px solid #efefef;
  text-align: center;
}
.bang-table thead tr th {
  font-size: 18px;
}
.bang-table tbody tr th {
  font-size: 16px;
}
.bang-table tbody tr td {
  font-size: 22px;
}
.bang-table tr th:first-child {
    width: 300px;
    line-height: 50px;
}
.bang-table tr th:first-child img {
  float: left;
  margin-left: 30px;
}
.bang-table .hash-table__checked {
  font-size: 22px;
  color: #699bbc;
}
.hash-table__note {
  font-size: 16px;
  font-weight: bold;
  color: #699bbc;
}

.line-box div {
  margin-top: 8px;
}

//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {
  .layouts-pages .header .container > .row {
    padding: 110px 20px 20px;
  }
  main {
    padding: 32px 0;
  }
  main ol, main ul {
    padding-left: 16px;
  }
  main table tr th {
    width: 40%;
  }

  .bang-table {
    width: 100%;
  }
  .bang-table thead tr th {
    font-size: 16px;
  }
  .bang-table tbody tr th {
    font-size: 15px;
  }
  .bang-table tr th:first-child {
    width: 180px;
    line-height: 1;
  }
  .bang-table tr th:first-child img {
    float: initial;
    margin: 0 auto 13px;
    display: block;
  }

  .bang-table{
    width:100%;
  }
  .bang-table-scroll{
    overflow: auto; /*tableをスクロールさせる*/
    white-space: nowrap; /*tableのセル内にある文字の折り返しを禁止*/
  }
  .bang-table-scroll::-webkit-scrollbar{ /*tableにスクロールバーを追加*/
    height: 5px;
  }
  .bang-table-scroll::-webkit-scrollbar-track{ /*tableにスクロールバーを追加*/
    background: #F1F1F1;
  }
  .bang-table-scroll::-webkit-scrollbar-thumb { /*tableにスクロールバーを追加*/
    background: #BCBCBC;
  }
}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {
  .bang-table thead tr th {
    font-size: 11px;
    padding: 8px 5px;
  }
  .bang-table tbody tr th {
    font-size: 11px;
    padding: 8px;
  }
  .bang-table tbody tr td {
    font-size: 14px;
    padding: 11px;
  }
  .bang-table tr th:first-child {
    width: 115px;
    line-height: 1;
  }
  .bang-table tr th:first-child img {
    float: initial;
    margin-bottom: 5px;
    width: 30px;
  }
  .bang-table .hash-table__checked {
    font-size: 15px;
  }
  .hash-table__note {
    font-size: 14px;
  }
  .bang-table tr td p {
    font-size: 10px;
  }
  .line-box {
    margin-top: 40px;
  }
}
