//
// Landing Pricing
// --------------------------------------------------

.pricing-box {
  text-align: center;
  padding: 30px;
  margin-top: 30px;
  border-radius: 10px;
  border: 2px solid rgba(238, 238, 238, 0.84);
  background-color: #f9f9f9;
}
.pricing-box.active {
    background-color: rgba(245, 99, 99, 0.07);
    border-color: $main-color;
}
.pricing-box.active .plan-title {
  color: $main-color;
}
.pricing-box p {
  font-size: 15px;
  margin: 15px 0 0;
}
.pricing-header .plan-title{
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 600;
}
.pricing-header .plan-price {
  font-size: 42px;
  font-weight: bold;
}
.pricing-header .plan-price small {
  font-size: 24px;
  font-weight: normal;
}
.pricing-header .plan-price span {
  font-size: 24px;
  font-weight: normal;
  padding-left: 3px;
}
.plan-features {
  margin-top: 20px;
}
.plan-features li {
  margin: 10px 0;
  line-height: 26px;
}
.plan-features li i {
  color: #0da357;
  margin-right: 5px;
}
#pricing a.btn-link {
  font-size: 16px;
}

//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {
  .plan-detail-btn {
    margin-bottom: 25px;
  }
}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}
