//
// Landing Services
// --------------------------------------------------

.services-box {
  padding: 20px 0;
}

.services-box:hover i {
  color: $main-color;
}

.services-box i {
  font-size: 36px;
  float: left;
  line-height: 60px;
  //width: 70px;
  width: 50px;
  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}


.services-box p {
  margin-top: 15px;
  line-height: 26px;
  overflow: hidden;
}


//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {

}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}
