//
// Landing Sign
// --------------------------------------------------

body > .sign {
  height: 100%;
  position: relative;
  height: auto;
  min-height: 100%;
}

.sign {
  padding: 130px 0 0;
}

.sign .home-intro .intro-form p {
  text-align: left;
  padding-left: 0;
  font-size: 14px;
  line-height: 1.6;
}

.sign .home-intro .intro-form a {
  color: #999;
  display: inline-block;
  text-align: center;
  margin-top: 17px;
  font-size: 14px;
  line-height: 1.6;
}

.sign .home-intro .intro-form a:hover {
  text-decoration: underline !important;
}

.sign .home-intro .intro-form p a {
  display: inline-block;
  padding: 0;
}

.sign form {
  margin-top: 25px;
}

.sign .home-intro .intro-form p.term-privacy {
  text-align: left;
  padding: 8px 0 16px 8px;
}

.home-intro .intro-form .has-error input {
  border: 1px solid #e72d5f;
  -webkit-box-shadow: 0 0px 10px #e72d5b;
  box-shadow: 0 0px 10px #e72d5b;
}
.has-error .error-message {
  color: #e72d5f;
  margin-top: 6px !important;
  display: inline-block;
}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #999; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #7ba6c4; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fff; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #7ba6c4;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/


//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {
  .home-intro .intro-form {
    margin-top: 0;
    padding: 0 20px 20px;
  }
  #overlay {
    text-align: left !important;
  }
}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {
  .sign {
    padding: 90px 0 0;
  }
  .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    font-size: 14px;
  }
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot {
    width: 20px;
    height: 20px;
    top: 47px;
  }
  .bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
    width: 12px;
    height: 12px;
    top: 4px;
    left: 4px;
  }
  .bs-wizard > .bs-wizard-step > .progress {
    height: 5px;
  }
  .bs-wizard > .bs-wizard-step .bs-wizard-info {
    font-size: 13px;
  }
  .home-intro .intro-form h5 {
    font-size: 20px;
  }
  .home-intro .intro-form input {
    padding: 6px 15px;
  }
  #overlay p {
    font-size: 14px !important;
  }
  .md-mb-10 {
    margin-bottom: 10px;
  }
  .close-button {
    position: fixed;
    width: 100%;
    bottom: 20px;
  }
}



@media (max-width: 320px) {
  .home-intro .intro-form {
    padding: 0px 11px 20px;
  }
  .bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
    font-size: 12px;
  }
  .bs-wizard > .bs-wizard-step .bs-wizard-info {
    font-size: 11px;
  }
  .home-intro .intro-form h5 {
    font-size: 16px;
    margin: 0 -35px 30px;
  }
  .home-intro .intro-form input {
    padding: 10px 15px;
  }
  #overlay p {
    font-size: 13px !important;
  }
}