//
// Landing Team
// --------------------------------------------------

.team-box {
  text-align: center;
  padding: 30px 20px;
  margin-top: 30px;
}

.team-box img {
  height: 120px;
  margin-bottom: 20px;
}

.team-box p {
  margin: 20px 0;
  line-height: 24px;
}
.team-box h6 {
  font-family: 'Crete Round', serif;
  font-weight: normal;
  font-size: 14px;
}


//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {

}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}
