//
// Landing Testimonials
// --------------------------------------------------

.testimonial-box h4 {
  line-height: 30px;
  //font-family: 'Crete Round', serif;
  //font-style: italic;
  font-weight: normal;
}

.testimonial-box .testi-user {
  width: 48px !important;
  height: 48px !important;
  margin: 10px auto;
}

.client-images {
  padding-top: 70px;
}

.client-images img {
  max-height: 30px;
  width: auto !important;
  margin: 10px auto;
  opacity: 0.3;
}

.client-images img:hover {
  opacity: 0.4;
}


//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {
  .testimonial-box h4 {
    font-size: 16px;
    line-height: 25px;
  }
}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {

}

