//
// Add
// --------------------------------------------------
/*html, body, #wrap, #controls {
  height: 100%;
  position: relative;
}
*/
.modal-backdrop.in {
  filter: alpha(opacity=20);
  opacity: .2;
}

#walkthrough-content {
  display: none;
}

.contents-fixed {
  overflow: hidden;
  height: 100%;
}
.boxs {
  color: #333;
}

.invite-link {
  height: 30px;
  line-height: 30px !important;
  top: 12px;
}
.invite-link .fa {
  padding-right: 10px;
}
.invite-link:hover {
  background-color: #f5f5f5;
  text-decoration: none;
  cursor: pointer;
}


// Invite
.invite-section {
  padding: 30px 40px;
}
.invite-section p {
  margin: 0;
  padding: 0;
}
.invite-section h2 {
  color: #7ba6c4;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 16px;
}
.invite-section h4 {
  font-size: 15px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 10px;
}
.invite-section ul {
  padding-left: 30px;
  margin-bottom: 28px;
}
.invite-section hr {
  border-top: 1px solid #ccc;
}
.invite-section .sns_btn {
  list-style-type: none;
  padding: 0;
  width: 604px;
  margin: 35px auto;
}
.invite-section .sns_btn li {
  display: inline-block;
  text-align: center;
  width: 100px;
  margin-right: 64px;
}
.invite-section .sns_btn li img {
  margin-bottom: 12px;
  width: 80px;
}
.invite-section .sns_btn li:last-child {
  margin-right: 0;
}
.invite-code {
  clear: both;
  width: 90%;
  margin: 0 auto;
  //border-top: 1px solid #c9c9c9;
  //border-bottom: 1px solid #c9c9c9;
  padding: 30px 0;
  margin-bottom: 30px;
}
.invite-code-text {
  text-align: right;
  font-size: 17px;
  font-weight: bold;
  vertical-align: middle;
  padding: 6px 0;
}
.invite-section input[type="text"] {
  background: #ffffff;
}
.invite-section .invite-code-form {
  margin-bottom: 20px;
}
.invite-section .invite-code-attention {
  color: #7ba6c4;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.invite-lead {
  font-size: 20px;
  margin-bottom: 16px;
  text-align: center;
  line-height: 1.5;
}

// Subscription
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  padding: 8px;
  line-height: 1.42857143;
  border-top: 1px solid #ddd;
}
.table > thead > tr td, .table > thead > tr th,
.table > tbody > tr td, .table > tbody > tr th {
  border-color: inherit;
}
.plan-table {
  margin-bottom: 5px;
  table-layout: fixed;
}
.plan-table > tbody > tr > th {
  width: 150px;
  text-align: center;
  background: #f6f6f6;
  font-weight: 400;
  text-align: center;
  padding: 15px 10px;
  color: #000;
  vertical-align: middle;
  white-space: normal;
}
.plan-table > tbody > tr > td {
  padding: 15px 20px;
  vertical-align: middle;
}
.payment-done {
  background-color: #e5e5e5;
}
.payment-pending {
  background-color: #999;
}

// Location
.location-list {
  display: none;
}
.location-list ul {
  padding: 0;
  margin: 0;
}

// Button
.btn {
  font-weight: bold;
}

// Label
.label:hover {
  opacity: 0.7;
  -webkit-transition: all .3s ease-in;
     -moz-transition: all .3s ease-in;
        o-transition: all .3s ease-in;
          transition: all .3s ease-in;
}
.taglabel {
  display: inline;
  padding: .2em .6em .3em;
  font-size: 10px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 50px;
}

// Form
.has-error .form-control,
.has-error .form-control:focus {
  border: 1px solid #e72d5f;
  -webkit-box-shadow: 0 0px 10px #e72d5b;
  box-shadow: 0 0px 10px #e72d5b;
}

#navigation > li > a:focus {
  text-decoration: none;
}

.post-container p {
  min-height: 25px;
}

.media .thumb {
  float: left;
  padding-right: 10px;
}
.media .media-time {
  float: right;
  margin-top: 10px;
}

// WhiteList
.label.whitelist {
  padding: 6px 12px 6px 6px;
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #c9d6da;
  color: #4d585f;
}
.label.whitelist:hover {
  cursor: pointer;
}
.label.whitelist img {
  width: 40px;
  display: inline-block;
  margin-right: 8px;
}
.whitelist-box ul {
  padding: 0;
  margin-bottom: 0;
}


.media-image,
.media-text,
.media-button {
  display: inline-block;
  vertical-align: middle;
}
.media-text {
  padding-left: 10px;
}
.media-button {
  float: right;
  margin-top: 15px;
}

// Toastr
#toast-container > div .toast-message {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
#toast-container > div {
  opacity: 0.9 !important;
}

.underline {
  text-decoration: underline;
}

// A8
body > img {
  display: none;
}

// Location
#map-canvas {
  margin-top: 15px;
  height: 350px;
}

// PAY JP
#payForm {
  display: none;
}

.dropdown.menu {
  display: none;
}

.toggle-right-sidebar {
  display: none !important;
}

// Table Responsive
.table-responsive {
  margin-bottom: 0;
  border: none;
}
.table-responsive>.table-bordered {
  border: 1px solid #ddd;
}

.dropdown-menu.panel .panel-heading {
  border-radius: 0;
}

#hashtagSearch,
#locationSearch {
  display: none;
  margin-top: 8px;
}
.label.location {
  white-space: inherit;
}

// ホワイトリスト
.whitelist {
  max-height: 220px;
  overflow:auto;
}

.remove-account {
  text-align: right;
}

.modal-content {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.modal-dialog {
  margin-top: 90px;
}

// メッセージ
.message-item {
  margin-top: 15px;
}
.message-item:first-child {
  margin-top: 0;
}
.message-text {
  float: left;
}
.message-btn {
  float: right;
}
.message.error {
  color: #e05d6f;
  background-color: #f9dde1;
}

// API制限
.api-message:not(:last-child) {
  margin-bottom: 3px;
}

// ハッシュタグ解析ローディング
.hashtag-analytics-loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 47%;
}

//
// Small devices (tablets, less than 767px)
// --------------------------------------------------
@media (max-width: 767px) {
  .dropdown.menu {
    display: block;
  }
  .toggle-right-sidebar {
    display: block !important;
  }
  #rightbar {
    z-index: 9999999;
  }
  #rightbar .tab-content .tab-pane h6 {
    font-size: 14px;
    color: #fff;
  }
  #rightbar .tab-content .tab-pane .settings .form-group .row {
    margin: 0;
  }
  #rightbar .tab-content .tab-pane .settings .form-group .row .control-label {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    line-height: 22px;
    color: #fff;
  }
  #rightbar .tab-content .tab-pane .settings .form-group .row .control-label .onoffswitch {
    float: right;
  }

  .media .media-time {
    float: inherit;
    margin: 0;
  }
  .appWrapper.sidebar-xs #header .nav-right .nav-profile > a > span {
    display: inline-block;
  }
  .appWrapper.sidebar-xs #header .nav-right .nav-profile {
    right: 25px;
  }
  #header .nav-right > li.nav-profile > a,
  #header .nav-left > li.nav-profile > a {
    font-size: 13px;
  }

  // ロゴ
  .appWrapper.sidebar-sm #header .branding,
  .appWrapper.sidebar-xs #header .branding {
    display: none;
  }
  // サイドバー
  #sidebar {
    display: none;
  }
  .appWrapper.header-fixed.aside-fixed #content {
    position: relative;
  }
  .appWrapper.header-fixed.sidebar-xs #content {
    left: 0;
  }
  .appWrapper.sidebar-xs #header .nav-right .menu .dropdown-menu {
    left: 0;
    right: auto;
  }
  .appWrapper.sidebar-xs #header .nav-right .menu .dropdown-menu a {
    color: #4d585f;
  }
  .appWrapper.sidebar-xs #header .nav-right .menu .dropdown-menu.with-arrow:after {
    left: 13px;
    right: auto;
  } 
  .menu {
    margin-left: 8px !important;
  }
  .appWrapper.sidebar-xs #header .nav-right .menu .dropdown-menu .media .media-icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
  }
  .appWrapper.sidebar-xs #header .nav-right .menu .dropdown-menu.panel .list-group > li .media .media-object {
    margin: 0 10px 0 5px;
    padding: 0;
  }

  // プラン
  #subscription .container-fluid {
    padding: 0
  }

  // エリア管理マップ
  .label.location {
    text-align: left;
  }

  // アクティビティ
  .streamline.timeline ul .timeline-post:nth-of-type(even) .time a {
    text-align: right;
  }

  .remove-account {
    text-align: left;
  }

  .modal-dialog {
    margin: 8px;
  }
}


//
// Extra small devices (phones, less than 420px)
// --------------------------------------------------
@media (max-width: 420px) {
  .hidden-xs {
    display: none;
  }

  // 本日のアクティビティ
  .today-activity .boxs-body {
    padding: 0;
  }
  .today-activity .nav-tabs, .nav-tabs.tabs-dark {
    border-radius: inherit !important;
  }

  .media {
    font-size: 12px;
    line-height: 1.6em;
    margin-top: 8px;
  }
  .media:after {
    content: "";
    display: block;
    clear: both;
  }

  .page {
    padding: 16px;
  }

  .pageheader {
    margin-bottom: 15px;
  }

  // ヘッダーメニュー
  .appWrapper.sidebar-xs #header .nav-right .nav-profile {
    right: 25px;
    position: absolute !important;
  }
  .appWrapper.sidebar-xs #header .nav-right > li .dropdown-menu {
    left: auto !important;
    right: -18px !important;
  }
  .menu {
    margin-left: 0 !important;
  }

  // エリア管理マップ
  #map-canvas {
    height: 200px;
  }

  // プラン
  .pricing-box {
    padding: 20px 20px;
  }
  .pricing-header .plan-title {
    font-size: 16px;
    margin-bottom: 0;
  }
  .pricing-header .plan-price {
    font-size: 36px;
  }
  #subscription p.auto-update {
    margin: 10px auto 20px;
  }

  // テーブル
  .plan-table {
    font-size: 13px;
  }
  .plan-table > tbody > tr > th {
    width: 130px;
  }

  // ホワイトリスト
  .whitelist {
    padding: 0;
  }
  .whitelist .media {
    position: relative;
  }
  .whitelist .media-text {
    vertical-align: top;
    position: absolute;
  }
  .whitelist .media-button {
    margin-top: 20px;
  }

  .alert.alert-dismissable {
    padding-right: 15px;
  }

  // メッセージ
  .message-text {
    float: inherit;
    margin-bottom: 5px;
  }
  .message-btn {
    float: inherit;
  }
}
