.page {
  padding: 20px;
}
.page-full {
  height: 100%;
  padding: 0;
}
.page-core {
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 60px 10px;
  background-color: $slategray;
  overflow: auto;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{			
	padding-left: 7.5px;
    padding-right: 7.5px;}


//
// 追加分
// --------------------------------------------------
p {
  line-height: 1.8em;
}

.activity-meta h5 {
  display: inline-block;
  margin: 0;
  line-height: 33px;
  vertical-align: top;
}

.user-pic {
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.streamline.timeline ul .timeline-post .time {
  left: 15px;
}
.streamline.timeline ul .timeline-post:nth-of-type(odd) .time {
  left: auto;
  right: 15px;
}

.streamline.timeline ul .timeline-post:nth-of-type(even) .activity-meta {
  text-align: right;
}

.streamline.timeline ul .timeline-post:nth-of-type(odd) .activity-meta {
  text-align: left;
}

.media-pic {
  display: inline-block;
}

.media-pic img {
  width: 30px;
  height: 30px;
}

.time a {
  margin-top: 6px;
  display: block;
  text-align: right;
}

.streamline.timeline ul .timeline-post:nth-of-type(even) .time a {
  text-align: left;
}


.hashtag-box ul,
.comment-box ul,
.filter-box ul,
.location-box ul {
  padding: 0;
  margin-bottom: 0;
}

.hash-search {
  display: none;
  width: calc(100% - 15px);
  width: -webkit-calc(100% - 15px) ;
  top: 65px;
  left: 7.5px;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 150px;
  height: auto;
  margin: 2px 0 0 0;
  z-index: 1000;
  background: #ffffff;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.hash-search-box {
  padding: 5px 0;
  color: #333333;
}

.hash-search-row {
  line-height: 30px;
  padding: 3px 12px;
}

.hash-search-row:hover {
  cursor: pointer;
  background-color: #eee;
}

.highlight {
  background-color: #5bc0de;
  color: #fff;
  border-radius: 3px;
  padding: 3px 12px;
  margin-right: 5px;
  font-weight: bold;
}

.label.hashtag,
.label.comment,
.label.filter,
.label.location {
  padding: 6px 12px;
  font-size: 14px;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 8px;
  font-weight: bold;
  border-radius: 4px;
}

.label.hashtag:hover,
.label.comment:hover,
.label.filter:hover,
.label.location:hover {
  cursor: pointer;
}

.label.hashtag-form,
.label.comment-form,
.label.filter-form {
  margin: 8px 0 16px;
}

.relative {
  position: relative !important;
}

.dropdown.nav-profile .dropdown-menu {
  min-width: auto !important;
}

.notifications {
  margin-right: 20px !important;
}

/*.sidebar-sm #header .branding {
  width: 80px;
}
.sidebar-sm #header .branding a.brand {
  width: 60px;
  margin-top: 5px;
  margin-left: -4px;
}
.sidebar-xs #header .branding a.brand {
  width: 35px;
  margin-top: 15px;
  margin-left: -4px;
}*/

//
// Subscription
// --------------------------------------------------
$main-color:          #7ba6c4;
$button-hover-color:  rgba($main-color, 0.7);

.pricing-box {
  text-align: center;
  padding: 30px 20px;
  //margin-top: 30px;
  border-radius: 10px;
  border: 2px solid rgba(238, 238, 238, 0.84);
  background-color: #f9f9f9;
}

.pricing-box.active {
    background-color: rgba(245, 99, 99, 0.07);
    border-color: $main-color;
}

.pricing-box.active .plan-title {
  color: $main-color;
}

.pricing-header .plan-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}

.pricing-header .plan-price {
  font-size: 42px;
  font-weight: bold;
  //font-family: 'Crete Round', serif;
}

.pricing-header .plan-price span {
  font-size: 20px;
  font-weight: normal;
  padding-left: 3px;
}

.plan-features {
  //margin-top: 40px;
}

.plan-features li {
  margin: 10px 0;
  line-height: 26px;
}

.plan-features li i {
  color: #0da357;
  margin-right: 5px;
}

.pricing-section {
  margin: 25px 0;
}

.btn-custom {
  background-color: $main-color;
}

#subscription {
  .pay-btn .btn {
    display: inline-block;
    margin-bottom: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #ffffff !important;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.03em;
    padding: 10px 30px;
    border-radius: 20px !important;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    padding: 7px 24px;
    font-size: 14px;
  }

  p.auto-update {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 80%;
    margin: 20px auto;
    padding: 6px 0;
  }

  #payjp_checkout_box {
    display: none;
  }
}


.row .row-container {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.has-error .form-control, .error .form-control {
  border-color: #F0093D;
}
.js-error, .error-message {
  margin-top: 5px;
  color: #F0093D;
  display: inline-block;
  line-height: 1.6em;
}

/* Loading */
/* 外側の大きなサークルのラインの色とスタイルとアルファで表示＆消えるアニメーション */
.circle {
  background-color: rgba(0,0,0,0);
  border:5px solid rgba(0,183,229,0.9);
  opacity:.9;
  border-right:5px solid rgba(0,0,0,0);
  border-left:5px solid rgba(0,0,0,0);
  border-radius:50%;
  /*box-shadow: 0 0 35px #2187e7;*/
  width:50px;
  height:50px;
  margin:0 auto;
  -moz-animation:spinPulse 1s infinite ease-in-out;
  -webkit-animation:spinPulse 1s infinite linear;
}
/* 内側の小さなサークルのラインの色とスタイルとアルファで表示＆消えるアニメーション */
.circle1 {
  background-color: rgba(0,0,0,0);
  border:5px solid rgba(0,183,229,0.9);
  opacity:.9;
  /*border-left:5px solid rgba(0,0,0,0);
  border-right:5px solid rgba(0,0,0,0);*/
  border-radius:50%;
  /*box-shadow: 0 0 15px #2187e7;*/
  width:30px;
  height:30px;
  margin:0 auto;
  position:relative;
  top:-40px;
  -moz-animation:spinoffPulse 2s infinite ease-in-out;
  -webkit-animation:spinoffPulse 2s infinite linear;
}
 
/* キーフレームを使ったローディングのくるくる回るアニメーション */
@-moz-keyframes spinPulse {
  0% { -moz-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7;}
  50% { -moz-transform:rotate(145deg); opacity:1; }
  100% { -moz-transform:rotate(-320deg); opacity:0; }
}
@-moz-keyframes spinoffPulse {
  0% { -moz-transform:rotate(0deg); opacity:1; }
  30% { -moz-transform:rotate(180deg); opacity:0; }
  100% { -moz-transform:rotate(360deg);  opacity:1; }
}
@-webkit-keyframes spinPulse {
  0% { -webkit-transform:rotate(160deg); opacity:0; box-shadow:0 0 1px #2187e7; }
  50% { -webkit-transform:rotate(145deg); opacity:1; }
  100% { -webkit-transform:rotate(-320deg); opacity:0; }
}
@-webkit-keyframes spinoffPulse {
  0% { -webkit-transform:rotate(0deg); opacity:1; }
  30% { -webkit-transform:rotate(180deg); opacity:0; }
  100% { -webkit-transform:rotate(360deg);  opacity:1; }
}


.card-container {
  text-align: center;
}
.status-unit {
  color: #404040;
  font-size: 60%;
  font-weight: normal;
  padding-left: 6px;
}
.status-class {
  margin-top: 9px;
  color: #787878;
  font-size: 92%;
}
.status-class i {
  font-size: 110%;
  margin: 0 8px;
}

.plan-label {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 14px !important;
  font-weight: bold !important;
}

.slider {
  margin-left: 1%;
}
#sliderRange .slider-selection {
  background: #5bc0de;
}
#min_like_count,
#max_like_count {
  font-size: 16px;
  font-weight: bold;
}

.slider .slider-track {
  height: 8px !important;
}
.slider.slider-horizontal .slider-handle {
  margin-top: -2px !important;
}


@media only screen and (max-width: 768px) {
  .activity-meta h5 {
    display: block;
    line-height: 1;
  }

  .streamline.timeline ul .timeline-post:nth-of-type(even) .activity-meta {
    text-align: left;
  }

  .pricing-section > div {
    margin-bottom: 30px;
  }

  .pricing-section > div:last-child {
    margin-bottom: 0;
  }
}
