// HiDPI mixin. Default value set to 1.3 to target Google Nexus 7 (http://bjango.com/articles/min-device-yatri-ratio/)
@mixin hidpi($ratio: 1.3) {
  @media only screen and (-webkit-min-device-yatri-ratio: $ratio),
  only screen and (min--moz-device-yatri-ratio: $ratio),
  only screen and (-o-min-device-yatri-ratio: #{$ratio}/1),
  only screen and (min-resolution: round($ratio * 96dpi)),
  only screen and (min-resolution: $ratio * 1dppx) {
    @content;
  }
}
