// Variables
// --------------------------------------------------
@import "landing/variables";

// font-awesome
// --------------------------------------------------
@import "../lib/font-awesome/font-awesome";

// Bootstrap
// --------------------------------------------------
//@import "../lib/bootstrap/bootstrap";



// Base Style
// --------------------------------------------------
@import "landing/basestyle";

// Loader
// --------------------------------------------------
@import "landing/loader";

// Helper
// --------------------------------------------------
@import "landing/helper";

// Button
// --------------------------------------------------
@import "landing/button";

// Navbar
// --------------------------------------------------
@import "landing/navbar";

// Home
// --------------------------------------------------
@import "landing/home";

// Services
// --------------------------------------------------
@import "landing/services";

// Features
// --------------------------------------------------
@import "landing/features";

// Testimonials
// --------------------------------------------------
@import "landing/testimonials";

// Team
// --------------------------------------------------
@import "landing/team";

// CTA Section
// --------------------------------------------------
@import "landing/cta-section";

// Pricing
// --------------------------------------------------
@import "landing/pricing";

// Fun facts
// --------------------------------------------------
@import "landing/fun-facts";

// Contact
// --------------------------------------------------
@import "landing/contact";

// Footer
// --------------------------------------------------
@import "landing/footer";

// Animation
// --------------------------------------------------
@import "landing/animation";

// Sign
// --------------------------------------------------
@import "landing/sign";


// Pages
// --------------------------------------------------
@import "landing/pages";


/*======= 16.Responsive ======*/

@media (max-width: 767px) {

  .vertical-content {
    display: inherit !important;
  }

  .navbar-custom{
    margin-top: 0px;
    padding: 5px 0px !important;
    background-color: #ffffff;
    -moz-box-shadow: 0 10px 33px rgba(0,0,0,.1);
    -webkit-box-shadow: 0 10px 33px rgba(0,0,0,.1);
    box-shadow: 0 10px 33px rgba(0,0,0,.1);
  }

  .logo {
    margin-top: 5px;
  }

  .features-box {
    text-align: center;
  }

  .features-box .number {
    margin: 0 auto;
  }

  .footer h5 {
    margin-top: 30px;
  }

  .title-box h4 {
    width: 95%;
  }
}

@media (max-width: 420px) {

  .home-wrapper h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .facts {
    margin-bottom: 30px;
  }

}