
<!-- Branding -->
<div class="branding">
  <a class="brand" href="/dashboard">
    <!-- <span>#hash</span> -->
  </a>
  <a role="button" tabindex="0" class="offcanvas-toggle visible-xs-inline">
    <i class="fa fa-bars"></i>
  </a>
</div>
<!-- Branding end -->
