
<!-- Left-side navigation -->
<ul class="nav-left pull-left list-unstyled list-inline">
  <li class="sidebar-collapse">
    <a role="button" tabindex="0" class="collapse-sidebar">
      <i class="fa fa-outdent"></i>
    </a>
  </li>
</ul>
<!-- Left-side navigation end -->
