
<!-- HEADER Content -->
<section id="header">
  <header class="clearfix">
    <?php echo $this->element('/Dashboard/branding'); ?>
    <?php echo $this->element('/Dashboard/header-rightside-navigation'); ?>
  </header>
</section>
<!--/ HEADER Content  -->
