
<!--RIGHTBAR Content -->
<aside id="rightbar">
  <div role="tabpanel">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="settings">
        <h6><?php echo __('自動設定'); ?></h6>
        <div class="settings">
          <?php echo $this->element('/Dashboard/general-auto-setting'); ?>
        </div>
      </div>
    </div>
  </div>
</aside>
<!--/ RIGHTBAR Content -->
