
<!--SIDEBAR Content -->
<aside id="sidebar">
  <div id="sidebar-wrap">
    <div class="panel-group slim-scroll" role="tablist">
      <?php echo $this->element('/Dashboard/navigation'); ?>
      <?php echo $this->element('/Dashboard/general-setting'); ?>
    </div>
  </div>
</aside>
<!--/ SIDEBAR Content -->
