

<section class="faq">
  <div class="container">

    <h2 class="faq__title">よくある質問</h2>
    <hr class="faq__hr">

    <div class="faq__box">
      <p class="faq__box-question">Q1. どんなサービスですか？</p>
      <div class="faq__box-answer">
        <p>〇〇は、インスタグラムをより楽しく、効率よく使うためのツール・サービスです。<br>
ご存知の通りインスタグラムにはシェアやリツイートがありません。ですからどんな素晴らしい写真をあなたが投稿していても、見てくれるユーザーの数が少ないために、多くの反響を得ることが出来ません。<br>
それを解決するために開発したのが〇〇です。<br>

〇〇では、あなたがタグを指定するだけで、僕達が開発したロボットが、自動であなたのアカウントを通じて、関連する投稿にいいね！をしたり、投稿者をフォローしていきます。<br>

いいね！やフォローを受け取ったユーザーはあなたの存在に気づきます。あなたのアクションに気づいたユーザーは、あなたのことが気になってページに移動します。気に入った投稿があればいいねをするし、もしかしたらフォローをしてくれます。

あなたが仕事をしている時に、家族とバケーションを過ごしている時に、好きな人とベットにいる時に、〇〇のロボットは、インスタグラムという閉鎖的な空間を抜け出し、あなたという素晴らしい存在をそれまでつながりのなかった何千、何万といった多くの人にお届けします。</p>
      </div>
    </div>
    <div class="faq__box">
      <p class="faq__box-question">Q2. サービスの利用料はいくらですか？</p>
      <div class="faq__box-answer">
        <p>〇〇〇〇〇〇</p>
      </div>
    </div>
    <div class="text-right">
      <a href="/users/forgot" class="link">
        <i class="fa fa-question-circle"></i>よくある質問をもっとみる
      </a>
    </div>

  </div>
</section>
