
<?php echo $this->element('/Landing/loader'); ?>

<?php echo $this->element('/Pages/header'); ?>

<div class="pages-legal layouts-pages">
  <header class="header">
    <div class="container">
      <div class="row inner">
        <div class="titlebox">
          <h1>プライバシーポリシー</h1>
          <h2>Privacy Policy</h2>
        </div>
      </div>
      <?php echo $this->element('/Pages/menu'); ?>
    </div>
  </header>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <main role="main">
        <section class="privacy">
          <div class="contents">
            <p>株式会社N・B・T（以下「当社」といいます）は、お客様（以下「ユーザー」といいます）のプライバシーを尊重し、お預かりしたプライバシー情報の保護に努めることを社会的責務として、今後も信頼いただける企業を目指すため、当社のプライバシーポリシー（以下「本ポリシー」といいます）を定めました。<br>
            当社の提供するサービス「#BANG（ハッシュバン）」（以下本サービスといいます）を利用されるにあたっては、本ポリシーを注意してお読みください。なお、ユーザーは、本サービスの利用により、本ポリシーに従ったユーザーの情報の取扱いを承認したものとみなされます。</p>
            
            <h3>第1条（個人情報の定義）</h3>
            <p>
              本プライバシーポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義された個人情報、すなわち、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。）を意味するものとします。
            </p>

            <h3>第2条（個人情報を収集・利用する目的）</h3>
            <p>当社が個人情報を収集・利用する目的は、以下のとおりです。</p>
            <ol class="sub">
              <li>ユーザーに本サービスを提供する目的</li>
              <li>本サービスに関するご案内、お問い合せ等へ対応する目的</li>
              <li>本サービスに関する規約等の変更などを通知する目的</li>
              <li>本サービスに関連して、個人を識別できない形式に加工した統計データを作成する目的</li>
              <li>上記の利用目的に付随する目的</li>
            </ol>
            
            <h3>第3条（個人情報の第三者提供）</h3>
            <ol>
              <li>
              当社は、次に掲げる場合を除いて、あらかじめユーザーの同意を得ることなく、第三者に個人情報を提供することはありません。ただし、個人情報保護法その他の法令で認められる場合を除きます。
              <ol class="sub">
                <li>法令に基づく場合</li>
                <li>人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                <li>公衆衛生の向上または児童の健全な育成の推進のために特に必要がある場合であって、本人の同意を得ることが困難であるとき</li>
                <li>国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、本人の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき</li>
                <li>
                予め次の事項を告知あるいは公表をしている場合
                <ul class="sub">
                  <li>利用目的に第三者への提供を含むこと</li>
                  <li>第三者に提供されるデータの項目</li>
                  <li>第三者への提供の手段または方法</li>
                  <li>本人の求めに応じて個人情報の第三者への提供を停止すること</li>
                </ul>
              </ol>
              </li>         
              <li>
              前項の定めにかかわらず、次に掲げる場合は第三者には該当しないものとします。
              <ol class="sub">
                <li>当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部または一部を委託する場合</li>
                <li>合併その他の事由による事業の承継に伴って個人情報が提供される場合</li>
                <li>個人情報を特定の者との間で共同して利用する場合であって、その旨並びに共同して利用される個人情報の項目、共同して利用する者の範囲、利用する者の利用目的および当該個人情報の管理について責任を有する者の氏名または名称について、あらかじめ本人に通知し、または本人が容易に知り得る状態に置いているとき</li>
              </ol>
              </li>
            </ol>
            
            <h3>第4条（個人情報の開示）</h3>
            <ol>
              <li>
              当社は、本人から個人情報の開示を求められたときは、本人に対し、遅滞なくこれを開示します。ただし、開示することにより次のいずれかに該当する場合は、その全部または一部を開示しないこともあり、開示しない決定をした場合には、その旨を遅滞なく通知します。なお、個人情報の開示に際しては、1件あたり1,000円の手数料を申し受けます。
              <ol class="sub">
                <li>本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
                <li>当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合</li>
                <li>その他法令に違反することとなる場合</li>
              </ol>
              </li>
              <li class="mt20">前項の定めにかかわらず、履歴情報および特性情報などの個人情報以外の情報については、原則として開示いたしません。</li>
            </ol>
            
            <h3>第5条（個人情報の訂正および削除）</h3>
            <ol>
              <li>ユーザーは、当社の保有する自己の個人情報が誤った情報である場合には、当社が定める手続きにより、当社に対して個人情報の訂正または削除を請求することができます。</li>
              <li>当社は、ユーザーから前項の請求を受けてその請求に応じる必要があると判断した場合には、遅滞なく、当該個人情報の訂正または削除を行い、これをユーザーに通知します。</li>
            </ol>
            
            <h3>第6条（個人情報の利用停止等）</h3>
            <p>当社は、本人から、個人情報が、利用目的の範囲を超えて取り扱われているという理由、または不正の手段により取得されたものであるという理由により、その利用の停止または消去（以下、「利用停止等」といいます。）を求められた場合には、遅滞なく必要な調査を行い、その結果に基づき、個人情報の利用停止等を行い、その旨本人に通知します。ただし、個人情報の利用停止等に多額の費用を有する場合その他利用停止等を行うことが困難な場合であって、本人の権利利益を保護するために必要なこれに代わるべき措置をとれる場合は、この代替策を講じます。</p>
            
            <h3>第7条（プライバシーポリシーの変更）</h3>
            <ol>
              <li>本ポリシーの内容は、ユーザーに通知することなく、変更することができるものとします。</li>
              <li>当社が別途定める場合を除いて、変更後のプライバシーポリシーは、本ウェブサイトに掲載したときから効力を生じるものとします。</li>
            </ol>

            <h3>第8条（Cookie（クッキー）その他の技術の利用）</h3>
            <p>本サービスは、Cookie及びこれに類する技術を利用することがあります。これらの技術は、本サービスの利用状況等の把握に役立ち、サービス向上に資するものです。Cookieを無効化されたいユーザーは、ウェブブラウザの設定を変更することによりCookieを無効化することができます。但し、Cookieを無効化すると、本サービスの一部の機能をご利用いただけなくなる場合があります。</p>

            <h3>第9条（お問い合わせ窓口）</h3>
            <p>本ポリシーに関するお問い合わせは、下記の窓口までお願いいたします。<br><br>
            株式会社N・B・T<br><br>
            <a href="/pages/contact">お問い合わせフォーム</a>
            <br><br><br>
            
            2017年3月1日　制定・施行
            </p>
          </div>
          <!-- /.contents -->
        </section>
      </main>
    </div>
  </div>
</div>

<?php echo $this->element('/Landing/footer'); ?>

<?php echo $this->element('/Landing/copyright'); ?>
