
<?php echo $this->element('/Landing/loader'); ?>

<?php echo $this->element('/Pages/header'); ?>

<div class="pages-legal layouts-pages">
  <header class="header">

    <div class="container">
      <div class="row inner">
        <div class="titlebox">
          <h1>利用規約</h1>
          <h2>Term</h2>
        </div>
      </div>
      <?php echo $this->element('/Pages/menu'); ?>
    </div>
  </header>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12">
      <main role="main">
        <section class="term">
          <div class="contents">
            <p>この利用規約（以下「本規約」といいます）は、株式会社N・B・T（以下「当社」といいます）が提供する「#BANG（ハッシュバン）」およびこれに関連するサービス（以下「本サービス」といいます）の利用に関する条件を、本サービスを利用するお客様（以下「利用者」といいます）と当社との間で定めるものです。</p>

            <h3>第1条（規約の適用）</h3>
            <p>本規約は、本サービスの全部または一部を、利用者が利用する場合に適用するものとし、本サービスを利用する場合、利用者は、本利用規約に同意したものとみなします。</p>
            <ol>
              <li>当社は、利用者の承諾なく本利用規約の一部を変更することができるものとします。その場合は、本サービスのウェブサイト上に掲示するか、または弊社が適切と判断するその他の方法により、利用者に告知するものとします。</li>
              <li>当社がオンラインその他の方法により随時提示する、個人情報保護方針、マニュアル規定、ガイドライン規定等（以下、「諸規定」という。）がある場合は、諸規定は本利用規約の一部を構成するものとします。</li>
            </ol>

            <h3>第2条（不保証）</h3>
            <p>当社は、利用者が本サービスの利用によって得る情報、データの正確性については保証せず、利用者によって書き込まれたデータまたは取得されたデータの保存及び管理についても、一切の責任を負わないものとします。</p>

            <h3>第3条（禁止事項）</h3>
            <p>当社は、利用者が本サービスを利用する際、以下のいずれかに該当する情報を表示、掲載、発信、送信等した場合は、利用者に事前の連絡、通知をすることなく当該利用者による本サービスの利用を中止することができるものとします。</p>
            <ol class="sub">
              <li>公序良俗に反する情報</li>
              <li>特定人物への中傷を行う情報</li>
              <li>知的所有権の侵害を行っているおそれのある情報</li>
              <li>個人のプライバシーの侵害、及びそれを幇助するおそれのある情報</li>
              <li>その他、弊社が不適切と判断する情報</li>
            </ol>

            <h3>第4条（料金等）</h3>
            <ol>
              <li>本サービスの利用に関して生じる手数料等の料金については、定める料金体系に則り、クレジットカードによりお支払いいただくものとします。</li>
              <li>当社は、本サービスの有料プランのご購入後の払い戻しは行いません。</li>
              <li>自動更新を設定している場合、利用者からの退会申請が行われない限り契約は自動更新される事を、利用者は予め承諾しているものとします。</li>
              <li>自動更新を設定していない場合、有効期限が過ぎますと休止状態となりサービスが利用できなくなります。それまでのデータはそのまま残りますが、再度利用される場合、契約手続きをしていただく必要があります。</li>
            </ol>

            <h3>第5条（退会）</h3>
            <ol>
              <li>利用者は、本サービスの利用を終了したい場合、アカウント設定の退会手続きページより退会申請を行うことで、本サービスを退会し、本サービスの利用を終了することができます。</li>
              <li>退会日が契約期間中であっても、利用の如何に関わらず、残り契約期間分の返金はしないものとします。</li>
            </ol>

            <h3>第6条（サービスの中断）</h3>
            <p>当社は、以下のいずれかに該当する場合には、本サービスの提供の全部または一部を中断することができるものとします。</p>
            <ol>
              <li>設備の保守を実施する場合</li>
              <li>天災、停電、紛争等の非常事態や不可抗力により本サービスの提供ができなくなった場合</li>
              <li>その他弊社が本サービスの管理または運営上、中断が必要と判断した場合</li>
            </ol>

            <h3>第7条（本サービスの性質）</h3>
            <ol>
              <li>本サービスはいかなるInstagram（以下、インスタグラム）、Facebook社とパートナー提携しているサービスではありません。また、インスタグラム側が本サービス内容を保証しているものではありません。</li>
              <li>当社は、利用者がいかなる理由であれInstagramのアカウントを利用できなくなった結果、本サービスを利用できなくなったとしても、責任を負いません。</li>
              <li>本サービスはインスタグラムのAPIから情報を取得しており、その際にインスタグラムのユーザ、パスワードを利用します。当社は第三者にユーザ名及びパスワードの開示はおこないません。</li>
              <li>本サービスは、フォロワー、いいね、コメントの増減を保証するサービスではありません。</li>
              <li>本サービスを利用して悪質な行為を行なった場合は、通告なく本サービスのアカウントを停止いたします。</li>
              <li>本サービスは、インスタグラム側の仕様変更により、利用できなくなる場合がありますので、本サービス全機能の継続利用を保証しておりません。</li>
              <li>本サービスは、当社の都合により通告なくサービスを停止する場合を利用者は認めるものとします。</li>
            </ol>

            <h3>第8条（準拠法）</h3>
            <p>本規約に関する準拠法は、日本法とします。</p>

            <h3>第9条（管轄裁判所）</h3>
            <p>利用者と当社との間で訴訟の必要が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>

            <p class="mt30">以上<br><br>
            2017年3月1日　作成・施行
            </p>
          </div>
          <!-- /.contents -->
        </div>
        <!-- /#terms -->
        </section>
      </main>
    </div>
  </div>
</div>

<?php echo $this->element('/Landing/footer'); ?>

<?php echo $this->element('/Landing/copyright'); ?>
