//
// Public Banner
// --------------------------------------------------

/* Medium devices (desktops, 992px and up) */

.banner {
  margin-top: 0px;
  width: 100%;
  height: 480px;
  background: url(http://portfoliotheme.org/fusion/wp-content/uploads/sites/2/2014/09/slide21.jpg) repeat-x center;
  background-size: auto 480px;
  color: #ffffff;
}
.banner .container {
  position: relative;
}
.banner__main {
  position: absolute;
  top: 70px;
  left: 0;
}
.banner__sub {
  position: absolute;
  top: 170px;
  right: 0;
  width: 420px;
}
.banner__logo {
  display: block;
  width: 500px;
  height: 0;
  padding-top: 96px;
  background: url(/img/logo-white.png) no-repeat;
  background-size: contain;
  line-height: 2;
  overflow: hidden;
}
.banner__copy {
  margin-top: 25px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-size: 40px;
  font-weight: normal;
  color: #ffffff;
}

.banner__form {

}
.banner__form-email {
}
.banner__form-password {
}
.banner__form-email,
.banner__form-password {
  position: relative;
  margin-bottom: 15px;
}
.banner__form-icon {
  position: absolute;
  color: #A9A9AB;
  top: 14px;
  left: 16px;
  font-size: 1.5em;
}
.banner__form-input {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding-left: 50px;
  background-color: #ffffff;
  line-height: 1.6;
  font-size: 16px;
  color: #333333;
}
.banner__btn {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  display: block;
  padding: 16px 0;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(199, 70, 124, 0.9);
  cursor: pointer;
  width: 100%;
  height: 64px;
  line-height: 64px;
  font-size: 18px;
  padding-top: 0;
}
.banner__btn:hover {
  color: #fff;
  background-color: rgba(241, 156, 161, 0.8);
  transition: background-color ease-out 0.3s;
}
.banner__other {
  position: relative;
}
.banner__terms {
  position: absolute;
  top: 10px;
  right: 0;
}
.banner__terms a {
  color: #ffffff;
}

.banner__login-btn {
  position: absolute;
  top: 20px;
  right: 0;
}
.banner__login-btn a {
  display: inline-block;
  box-sizing: border-box;
  height: 42px;
  border: solid 2px #ffffff;
  border-radius: 4px;
  text-align: center;
  line-height: 40px;
  letter-spacing: 0.05em;
  font-size: 14px;
  color: #ffffff;
  width: 96px;
}




/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 992px) {
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width :767px) {
}
