//
// Public Base
// --------------------------------------------------

/* Medium devices (desktops, 992px and up) */

html,body {
  height: 100%;
}

div#container {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.container {
  width: 1000px;
}


/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width :767px) {

}
