//
// Public Faq
// --------------------------------------------------

/* Medium devices (desktops, 992px and up) */

.faq {
  padding: 50px 0 70px;
}
.faq__title {
  text-align: center;
  font-size: 26px;
  color: #666;
}
.faq__hr {
  border: solid #DDDDDD;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25rem 0 1.1875rem;
  height: 0;
  padding-bottom: 20px;
  position: relative;
}
.faq__hr:after {
  content: "FAQ";
  background-color: #fff;
  color: #777;
  position: absolute;
  top: -8px;
  left: 50%;
  width: 70px;
  margin-left: -35px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  padding: 0 10px;
}
.faq__box {
} 
.faq__box-question {
  font-family: "Helvetica","Hiragino Kaku Gothic ProN","ヒラギノ角ゴ Pro W3","Meiryo", Arial, sans-serif;
  font-size: 16px;
  color: #F19CA1;
  font-weight: bold;
  margin-bottom: 10px;
}
.faq__box-answer {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  position: relative;
  background-color: #fff;
  border: solid 1px #d9d9d9;
  margin-top: 11px;
  margin-bottom: 20px;
}
.faq__box-answer:before,
.faq__box-answer:after {
  bottom: 100%;
  left: 35px;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.faq__box-answer:before {
  border-color: rgba(255,255,255,0);
  border-bottom-color: #d9d9d9;
  border-width: 9px;
  margin-left: -9px;
}
.faq__box-answer:after {
  border-color: rgba(255,255,255,0);
  border-bottom-color: #fff;
  border-width: 8px;
  margin-left: -8px;
}
.faq__box-answer p {
  padding: 15px 20px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.6;
}


/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 992px) {
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width :767px) {
}
