//
// Public Footer
// --------------------------------------------------

/* Medium devices (desktops, 992px and up) */


.footer {
  color: #bbb;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer__top {
  position: relative;
  background-color: #353739;
}
.footer__top-list {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}
.footer__top-list-item {
  display: inline-block;
}
.footer__top-list-item a {
  color: #d3d3d1;
  margin: 0 10px 10px 0;
}
.footer__bottom {
  clear: both;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  color: #ddd;
  border-top: none;
  overflow: hidden;
  background-color: #2D2F30;
}
.footer__bottom-menu {
  float: none;
  display: block;
  padding: 30px 0 0;
  margin: 0;
}
.footer__bottom-list {
  list-style: none;
  margin: 0;
}
.footer__bottom-list-item {
  display: inline;
  margin: 0;
  padding: 0;
}
.footer__bottom-list-item:first-child {
  background: none;
  padding-left: 0;
}
.footer__bottom-list-item:before {
  content: "|";
  color: #666;
  margin: 0 12px 0 6px;
}
.footer__bottom-list-item:first-child:before {
  content: "";
  margin: 0;
}
.footer__bottom-list-item a {
  font-size: 14px;
  line-height: 24px;
  color: #A3A8AB;
}
.footer__bottom-text {
  display: block;
  float: none;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 12px;
  line-height: 20px;
}

/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 992px) {
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width :767px) {
}
