//
// Public Sign
// --------------------------------------------------

/* Medium devices (desktops, 992px and up) */

.sign {
  padding-top: 160px;
}


/* Small devices (tablets, less than 992px) */
@media screen and (max-width: 992px) {
  .container {
    width: 100%;
  }
}

/* Extra small devices (phones, less than 768px) */
@media screen and (max-width :767px) {

}
