/*
 *
 * Main stylesheet for Switchery.
 * http://abpetkov.github.io/switchery/
 *
 */

/* Switchery defaults. */

.switchery {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  border-radius: 20px;
  cursor: pointer;
  display: inline-block;
  height: 26px;
  position: relative;
  vertical-align: middle;
  width: 50px;

  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box;
}

.switchery > small {
  background: #fff;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  height: 26px;
  position: absolute;
  top: 0;
  width: 26px;
}

/* Switchery sizes. */

.switchery-small {
  border-radius: 20px;
  height: 20px;
  width: 33px;
}

.switchery-small > small {
  height: 20px;
  width: 20px;
}

.switchery-large {
  border-radius: 40px;
  height: 40px;
  width: 66px;
}

.switchery-large > small {
  height: 40px;
  width: 40px;
}


.switch_checkbox{
  display:none;
}
.switchbtn {
  color: #444;
  width: 100px;
  height: 30px;
  background-color: #ccc;
  z-index: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  border-radius: 15px;
}
/*.switchbtn:before {
    content: ' ';
    position: absolute;
    left: 3px;
    top: 3px;
    width: 41px;
    height: 26px;
    background: #f5f5f5;
    z-index: 99;
    border-radius: 52px;
}*/
.switchbtn:after {
  content: 'OFF';
  height: 24px;
  width: 60px;
  border-radius: 12px;
  background-color: #fff;
  position: absolute;
  z-index: 999;
  top: 3px;
  left: 3px;
  text-align: center;
  /*box-shadow: 0 2px 5px #999999;*/
  font-size: 17px;
  font-weight: bold;
}
.switchon, .switchon:before {background-color: #00709D !important;}
.switchon:after {
  left: 38px !important;
  content: 'ON';
  color: #00709D;
  font-weight: bold;
}

